server/node-red/flows_casamuseorpi.json
[{"id":"c5535a96.997cd8","type":"tab","label":"Admin","disabled":false,"info":""},{"id":"ebfbbc58.6b5348","type":"tab","label":"server","disabled":false,"info":""},{"id":"723438d6.bfcdf8","type":"tab","label":"audio","disabled":false,"info":""},{"id":"87027f97.16bdb","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ae6ba29.239db6","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36a9a856.301228","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"508a941c.aa7f7c","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23cd05d6.d1cbea","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ade69968.1a57f8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2d97c698.874eaa","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9ec20e7.cd8a3","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"634c1883.3886e8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3f812c69.ffb804","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bafaf688.664f08","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba48a2cd.71068","type":"tradfri-connection","z":"","address":"192.168.1.43","name":""},{"id":"42993bd5.aaf934","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eea92813.317758","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9405750f.5bebe8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e82f49f7.535538","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"719b54c3.b6c9bc","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4a6e712.82cbd8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f33080f7.2ea6f","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1939311.0dc84","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"black","default":"#4B7930","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#000000","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#262626","edited":true},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#000000","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":1024,"sy":768,"gx":0,"gy":0,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"53723777.933018","type":"ui_tab","z":"ebfbbc58.6b5348","name":"Tab 1","icon":"theaters","order":1,"disabled":false,"hidden":false},{"id":"f2b9e5a8.403728","type":"ui_group","z":"ebfbbc58.6b5348","name":"Group 1","tab":"53723777.933018","disp":false,"width":"12","collapse":false},{"id":"9a13e131.183808","type":"websocket-listener","z":"","path":"/ws/utility","wholemsg":"false"},{"id":"a75f0bf.5c75578","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"b51ea5c5.79b98","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"c3efc141.1a2d3","type":"ui_tab","name":"Tab 4","icon":"dashboard","order":4},{"id":"7973d081.c945e","type":"ui_group","z":"","name":"Group 1","tab":"a75f0bf.5c75578","order":1,"disp":false,"width":"6","collapse":false},{"id":"49fce291.3e46bc","type":"ui_group","z":"","name":"Group 1","tab":"b51ea5c5.79b98","order":1,"disp":false,"width":"6","collapse":false},{"id":"90ae20bf.4a745","type":"ui_group","z":"","name":"Group 1","tab":"c3efc141.1a2d3","order":1,"disp":false,"width":"6","collapse":false},{"id":"75b6892.a858878","type":"ui_tab","name":"Tab 5","icon":"dashboard","order":5},{"id":"f4044b7a.9b3b28","type":"ui_group","z":"","name":"Group 1","tab":"75b6892.a858878","disp":false,"width":"6","collapse":false},{"id":"7ff67eeb.ac2ea","type":"exec","z":"723438d6.bfcdf8","command":"/usr/bin/mpg321","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Play","x":630,"y":120,"wires":[["406697ff.734e"],[],["406697ff.734e"]]},{"id":"9026778b.4783c8","type":"function","z":"723438d6.bfcdf8","name":"Costruisci path","func":"var media_path = global.get(\"media_path\") || \"/tmp/\";\nvar path = media_path + \"audio/\";\nvar audio = msg.payload;\n\nmsg.payload = path + audio;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["7ff67eeb.ac2ea"]]},{"id":"66b010d6.56f5b8","type":"function","z":"723438d6.bfcdf8","name":"Carducci","func":"msg.payload = \"CARDUCCI_Audio.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["9026778b.4783c8"]]},{"id":"90b59d97.1b75f8","type":"inject","z":"723438d6.bfcdf8","name":"TEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["66b010d6.56f5b8"]]},{"id":"3537b2e0.4f844e","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/stop","qos":"2","broker":"2ae6ba29.239db6","x":250,"y":240,"wires":[["cd2c9177.62ff3"]]},{"id":"f0bc0c58.477e98","type":"inject","z":"723438d6.bfcdf8","name":"STOP","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["cd2c9177.62ff3"]]},{"id":"2adcdab1.2e344e","type":"comment","z":"723438d6.bfcdf8","name":"STOP MUSIC","info":"","x":90,"y":200,"wires":[]},{"id":"cd2c9177.62ff3","type":"exec","z":"723438d6.bfcdf8","command":"killall -9 mpg321","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop Audio","x":450,"y":220,"wires":[[],[],[]]},{"id":"ca6368e7.0229a","type":"function","z":"723438d6.bfcdf8","name":"silence","func":"msg.payload = \"silence.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":900,"wires":[["bdcb6aee.59d89"]]},{"id":"96bebb26.f0fda","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_03_ri_connect.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BT Connection <MAC>","x":410,"y":480,"wires":[["a198f107.d2213"],["a198f107.d2213"],["a198f107.d2213"]]},{"id":"3d34e4fa.5e4a7c","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/btaudio","qos":"2","broker":"2ae6ba29.239db6","x":98,"y":474,"wires":[["96bebb26.f0fda","fb1a65ee.90783"]]},{"id":"a372e208.399ec","type":"comment","z":"723438d6.bfcdf8","name":"CONNESSIONE A BT SPEAKER","info":"","x":150,"y":420,"wires":[]},{"id":"406697ff.734e","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/stopall","qos":"","retain":"","broker":"2ae6ba29.239db6","x":800,"y":120,"wires":[]},{"id":"bdcb6aee.59d89","type":"function","z":"723438d6.bfcdf8","name":"Costruisci path","func":"var media_path = global.get(\"media_path\") || \"/tmp/\";\nvar path = media_path + \"audio/\";\nvar audio = msg.payload;\n\nmsg.payload = path + audio;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":980,"wires":[["9dc62956.604f8","7e2072db.ab4d3c"]]},{"id":"7e2072db.ab4d3c","type":"exec","z":"723438d6.bfcdf8","command":"/usr/bin/mpg321","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Play","x":370,"y":940,"wires":[[],[],[]]},{"id":"9dc62956.604f8","type":"delay","z":"723438d6.bfcdf8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":940,"wires":[["ca6368e7.0229a"]]},{"id":"b6b34f19.0b24","type":"comment","z":"723438d6.bfcdf8","name":"SETUP + CONNESSIONE BT PERMANENTE","info":"","x":190,"y":760,"wires":[]},{"id":"b45463f6.ca14","type":"comment","z":"723438d6.bfcdf8","name":"Gestione Eventi Associati a Audio","info":"","x":160,"y":40,"wires":[]},{"id":"7e18f15c.7ee5d8","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_02_disconnect_everything.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BT Disconnection","x":410,"y":880,"wires":[[],[],[]]},{"id":"d7a9e1db.c5226","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/multimedia_audio","qos":"2","broker":"36a9a856.301228","x":125,"y":94,"wires":[["9026778b.4783c8"]]},{"id":"fb1a65ee.90783","type":"debug","z":"723438d6.bfcdf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":540,"wires":[]},{"id":"a198f107.d2213","type":"delay","z":"723438d6.bfcdf8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":620,"wires":[["ac528968.638a48","3e537870.8c4bc"]]},{"id":"b1c84d66.aa897","type":"inject","z":"723438d6.bfcdf8","name":"","topic":"","payload":"EB:06:BF:85:06:47","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["96bebb26.f0fda"]]},{"id":"f3dad230.0496f8","type":"inject","z":"723438d6.bfcdf8","name":"","topic":"","payload":"6C:5C:3D:31:09:CA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["96bebb26.f0fda"]]},{"id":"752e08cd.d3442","type":"start-up-trigger","z":"723438d6.bfcdf8","x":120,"y":820,"wires":[["ca6368e7.0229a","7e18f15c.7ee5d8","b3257aab.45c29"]]},{"id":"ac528968.638a48","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/setA2DP","qos":"","retain":"","broker":"87027f97.16bdb","x":545,"y":666,"wires":[]},{"id":"3e537870.8c4bc","type":"delay","z":"723438d6.bfcdf8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":745,"y":606,"wires":[["976096ea.1a837"]]},{"id":"4b7a3115.1da31","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/setVolume","qos":"","retain":"","broker":"87027f97.16bdb","x":755,"y":686,"wires":[]},{"id":"976096ea.1a837","type":"function","z":"723438d6.bfcdf8","name":"60%","func":"msg.payload=80;\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":646,"wires":[["4b7a3115.1da31"]]},{"id":"71963545.2332a4","type":"comment","z":"723438d6.bfcdf8","name":"TEST","info":"","x":70,"y":540,"wires":[]},{"id":"b3257aab.45c29","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_01_start_pulseaudio_once.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start Pulseaudio ","x":410,"y":820,"wires":[[],[],[]]},{"id":"d9e7d628.63c41","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_06_set_volume_pct.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"volume","x":700,"y":320,"wires":[[],[],[]]},{"id":"3aa24969.ccae76","type":"inject","z":"723438d6.bfcdf8","name":"Imposta Volume","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":320,"wires":[["6c1b103f.7708a8"]]},{"id":"6c1b103f.7708a8","type":"function","z":"723438d6.bfcdf8","name":"80%","func":"msg.payload=10;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["d9e7d628.63c41"]]},{"id":"287ef471.bb2834","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/setVolume","qos":"2","datatype":"auto","broker":"87027f97.16bdb","x":480,"y":340,"wires":[["d9e7d628.63c41"]]},{"id":"dbdcb3ca.85387","type":"comment","z":"723438d6.bfcdf8","name":"VOLUME","info":"","x":80,"y":320,"wires":[]},{"id":"cf4d4abc.138f68","type":"comment","z":"ebfbbc58.6b5348","name":"Gestione Eventi Associati a Video","info":"","x":160,"y":40,"wires":[]},{"id":"68d38384.038124","type":"inject","z":"723438d6.bfcdf8","name":"FC:A8:9A:3E:E2:65","topic":"","payload":"FC:A8:9A:3E:E2:65","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["96bebb26.f0fda"]]},{"id":"3ec106f1.f9bc5a","type":"inject","z":"c5535a96.997cd8","name":"Associa cassa Bluetooth (inserire MAC)","topic":"","payload":"6C:5C:3D:31:09:CA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["311f64f6.9b49fc"]]},{"id":"311f64f6.9b49fc","type":"exec","z":"c5535a96.997cd8","command":"/home/pi/scripts/bluetooth/bt_04_add_speaker.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BT Connection <MAC>","x":290,"y":220,"wires":[["898bc859.f0cd2","3362247c.8a3de4"],["898bc859.f0cd2","3362247c.8a3de4"],["898bc859.f0cd2","3362247c.8a3de4"]]},{"id":"898bc859.f0cd2","type":"debug","z":"c5535a96.997cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":240,"wires":[]},{"id":"3362247c.8a3de4","type":"exec","z":"c5535a96.997cd8","command":"/home/pi/scripts/bluetooth/bt_05_set_a2dp_profile.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Forza A2DP","x":630,"y":180,"wires":[["808df9cf.963c88"],[],[]]},{"id":"818921ea.13633","type":"inject","z":"c5535a96.997cd8","name":"Forza A2DP","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":120,"wires":[["3362247c.8a3de4"]]},{"id":"a6b9d3a5.74c678","type":"comment","z":"c5535a96.997cd8","name":"AGGIORNAMENTO CONFIGURAZIONE","info":"","x":170,"y":840,"wires":[]},{"id":"58ae6e3b.39e2a","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/updateConfig","qos":"","retain":"","broker":"87027f97.16bdb","x":460,"y":880,"wires":[]},{"id":"1d5f11b9.0f9bb6","type":"inject","z":"c5535a96.997cd8","name":"Update Configurazione","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":880,"wires":[["58ae6e3b.39e2a"]]},{"id":"997b7f38.f3b0e","type":"mqtt in","z":"c5535a96.997cd8","name":"","topic":"/setA2DP","qos":"2","datatype":"auto","broker":"87027f97.16bdb","x":460,"y":160,"wires":[["3362247c.8a3de4"]]},{"id":"624a2508.f6dd44","type":"http in","z":"c5535a96.997cd8","name":"","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":90,"y":480,"wires":[["a14b5a88.58a848"]]},{"id":"a14b5a88.58a848","type":"template","z":"c5535a96.997cd8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n        <form action=\"/bt\" method=\"post\">\n            <input type=\"password\" value=\"****\" name=\"password\">\n            <input type=\"submit\" value=\"Connect\">\n            <label>MAC Address Bluetooth</label>\n            <input type=\"text\" name=\"bt\">\n            \n        </form>\n        <form action=\"/update\" method=\"post\">\n            <input type=\"password\" value=\"****\"  name=\"password\">\n            <input type=\"submit\" value=\"Update\">\n        </form>\n        <hr>\n        {{ payload.output }}\n</html>","output":"str","x":610,"y":480,"wires":[["f79e8d27.fb0d08"]]},{"id":"f79e8d27.fb0d08","type":"http response","z":"c5535a96.997cd8","name":"","statusCode":"","headers":{},"x":810,"y":480,"wires":[]},{"id":"a43baf6b.97b52","type":"http in","z":"c5535a96.997cd8","name":"","url":"/bt","method":"post","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["7f661872.bdefa"]]},{"id":"7e2e1b36.5fd764","type":"debug","z":"c5535a96.997cd8","name":"valore","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":280,"wires":[]},{"id":"88dfac13.314a9","type":"function","z":"c5535a96.997cd8","name":"MAC address","func":"var newMsg = { payload: msg.payload.bt };\nreturn newMsg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["7e2e1b36.5fd764","311f64f6.9b49fc"]]},{"id":"7f661872.bdefa","type":"function","z":"c5535a96.997cd8","name":"Output","func":"var password = global.get(\"password_reader\");\n\nif (msg.payload.password ==password){\n    msg.payload.output = \"Connecting to: \"+msg.payload.bt;\n    msg.payload.esito = 1;\n     \n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":380,"wires":[["1c3a5871.d644c"]]},{"id":"1c3a5871.d644c","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":380,"wires":[["88dfac13.314a9","a14b5a88.58a848","c7680f70.4cc1c"],[]]},{"id":"d43ef5c3.afdb88","type":"http in","z":"c5535a96.997cd8","name":"","url":"/update","method":"post","upload":false,"swaggerDoc":"","x":90,"y":540,"wires":[["7fe3df93.ed7a88"]]},{"id":"7fe3df93.ed7a88","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":540,"wires":[["accfed01.b2e2c"]]},{"id":"accfed01.b2e2c","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":540,"wires":[["58ae6e3b.39e2a","a14b5a88.58a848"],[]]},{"id":"27e5bea3.f6003a","type":"http in","z":"c5535a96.997cd8","name":"","url":"/A2DP","method":"post","upload":false,"swaggerDoc":"","x":90,"y":580,"wires":[["e8fed022.dc2fd8"]]},{"id":"42c0c977.3a2f18","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/setA2DP","qos":"","retain":"","broker":"87027f97.16bdb","x":720,"y":580,"wires":[]},{"id":"e8fed022.dc2fd8","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":580,"wires":[["a14b5a88.58a848","24f02e75.76ba1a"]]},{"id":"6105a4d1.7fb70c","type":"http in","z":"c5535a96.997cd8","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":80,"y":620,"wires":[["8f9294b8.3c896"]]},{"id":"98158142.117158","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/multimedia_audio","qos":"","retain":"","broker":"87027f97.16bdb","x":750,"y":620,"wires":[]},{"id":"8f9294b8.3c896","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":620,"wires":[["86d1cafc.ac091"]]},{"id":"989e6561.0884","type":"function","z":"c5535a96.997cd8","name":"Audiotest","func":"msg.payload = \"CARDUCCI_Audio.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["98158142.117158","a14b5a88.58a848"]]},{"id":"23ad3c1f.09c4b4","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":660,"wires":[["16f6bb5.87a5545"]]},{"id":"29f933e3.fc407c","type":"http in","z":"c5535a96.997cd8","name":"","url":"/blue","method":"post","upload":false,"swaggerDoc":"","x":80,"y":660,"wires":[["23ad3c1f.09c4b4"]]},{"id":"faee37b6.978688","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/neopixel","qos":"","retain":"","broker":"87027f97.16bdb","x":720,"y":660,"wires":[]},{"id":"ef5eb3a9.e9e978","type":"function","z":"c5535a96.997cd8","name":"blue","func":"msg.payload = \"blue\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["faee37b6.978688","a14b5a88.58a848"]]},{"id":"e2971541.fd474","type":"http in","z":"c5535a96.997cd8","name":"","url":"/utility","method":"get","upload":false,"swaggerDoc":"","x":80,"y":740,"wires":[["bda70cdc.dd8a3"]]},{"id":"bda70cdc.dd8a3","type":"template","z":"c5535a96.997cd8","name":"utility page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Utility page</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"utility\",\"ws/utility\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    <style>\n        body {\n            font-family=\"helvetica\"\n        }\n    </style>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"helvetica\">\n            <h1>Utility Area</h1>\n            <div id=\"messages\"></div>\n            <hr/>\n            <div id=\"status\">unknown</div>\n            <hr>\n            <h1>TABS</h1>\n            <a target=\"_blank\" href=\"/ui/#!/0\">TAB 1</a><br />\n            <a target=\"_blank\" href=\"/ui/#!/1\">TAB 2</a><br />\n            <a target=\"_blank\" href=\"/ui/#!/2\">TAB 3</a><br />\n            <a target=\"_blank\" href=\"/ui/#!/3\">TAB 4</a><br />\n            <a target=\"_blank\" href=\"/ui/#!/4\">TAB 5</a><br />\n\n        </font>\n        \n           \n        \n    </body>\n</html>\n","output":"str","x":250,"y":740,"wires":[["3b41b2ab.abf85e"]]},{"id":"3b41b2ab.abf85e","type":"http response","z":"c5535a96.997cd8","name":"","statusCode":"","headers":{},"x":590,"y":740,"wires":[]},{"id":"5ce61239.9ee7d4","type":"http in","z":"c5535a96.997cd8","name":"","url":"/getfiles","method":"post","upload":false,"swaggerDoc":"","x":90,"y":700,"wires":[["e1d54415.4b17"]]},{"id":"e1d54415.4b17","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":700,"wires":[["8a3165e8.e97e6"]]},{"id":"603ce5c5.4f45fc","type":"function","z":"c5535a96.997cd8","name":"red","func":"msg.payload = \"red\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":700,"wires":[["ea6a1a37.dfdd28","faee37b6.978688"]]},{"id":"ea6a1a37.dfdd28","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/getfiles","qos":"","retain":"","broker":"87027f97.16bdb","x":720,"y":700,"wires":[]},{"id":"b508edf5.d3836","type":"ui_template","z":"ebfbbc58.6b5348","group":"7973d081.c945e","name":"video_2","order":3,"width":"1","height":"1","format":"<style>\n.fullscreen-video {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 10000 !important;\n    \n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #000000 !important;\n    border: 1px solid #000000;\n    left: 0 !important;\n}\n\n.md-sidenav-left {\n    display: none !important;\n}\n\n#logo {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 9999 !important;\n    background-color: #000000 !important;\n    background-image: url(\"http://{{msg.ip_device}}/media/logo.png\") !important;\n    background-repeat: no-repeat !important;\n    background-position: center !important;\n    background-size: 25% !important;\n}\n\n._md-button-wrap {\n    display: none;\n}\n\n.nr-dashboard-cardcontainer {\n    width:100% !important;\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    width: 10000px !important;\n    background-color: #000000 !important;\n}\n\n</style>\n\n<div id=\"logo\">\n        \n</div>\n\n<video \n  id=\"vid\"\n  onClick=\"document.getElementById('vid').play()\" \n  class=\"fullscreen-video\" \n  muted playsinline autoplay controls \n  ng-if=\"msg.payload.show\">\n  <source src=\"http://{{msg.payload.ip}}/media/video/{{msg.payload.value}}\" type=\"video/mp4\">\n</video>\n\n<script>\n    var vid = document.getElementById(\"vid\"); \n    vid.play(); \n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":180,"wires":[[]]},{"id":"2a9ab5d2.9e7a3a","type":"ui_template","z":"ebfbbc58.6b5348","group":"49fce291.3e46bc","name":"video_3","order":1,"width":"1","height":"1","format":"<style>\n.fullscreen-video {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 10000 !important;\n    \n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #000000 !important;\n    border: 1px solid #000000;\n    left: 0 !important;\n}\n\n#logo {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 9999 !important;\n    background-color: #000000 !important;\n    background-image: url(\"http://{{msg.ip_device}}/media/logo.png\") !important;\n    background-repeat: no-repeat !important;\n    background-position: center !important;\n    background-size: 25% !important;\n}\n\n.md-sidenav-left {\n    display: none !important;\n}\n\n.nr-dashboard-cardcontainer {\n    width:100% !important;\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    width: 10000px !important;\n    background-color: #000000 !important;\n}\n\n</style>\n\n<div id=\"logo\">\n        \n</div>\n\n<video \n  id=\"vid\"\n  onClick=\"document.getElementById('vid').play()\" \n  class=\"fullscreen-video\" \n  muted playsinline autoplay controls \n  ng-if=\"msg.payload.show\">\n  <source src=\"http://{{msg.payload.ip}}/media/video/{{msg.payload.value}}\" type=\"video/mp4\">\n</video>\n\n<script>\n    var vid = document.getElementById(\"vid\"); \n    vid.play(); \n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":220,"wires":[[]]},{"id":"86dc9c67.2e6a8","type":"ui_template","z":"ebfbbc58.6b5348","group":"90ae20bf.4a745","name":"video_4","order":2,"width":"1","height":"1","format":"<style>\n.fullscreen-video {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 10000 !important;\n    \n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #000000 !important;\n    border: 1px solid #000000;\n    left: 0 !important;\n}\n\n.md-sidenav-left {\n    display: none !important;\n}\n\n#logo {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 9999 !important;\n    background-color: #000000 !important;\n    background-image: url(\"http://{{msg.ip_device}}/media/logo.png\") !important;\n    background-repeat: no-repeat !important;\n    background-position: center !important;\n    background-size: 25% !important;\n}\n\n.nr-dashboard-cardcontainer {\n    width:100% !important;\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    width: 10000px !important;\n    background-color: #000000 !important;\n}\n\n</style>\n\n<div id=\"logo\">\n        \n</div>\n\n<video \n  id=\"vid\"\n  onClick=\"document.getElementById('vid').play()\" \n  class=\"fullscreen-video\" \n  muted playsinline autoplay controls \n  ng-if=\"msg.payload.show\">\n  <source src=\"http://{{msg.payload.ip}}/media/video/{{msg.payload.value}}\" type=\"video/mp4\">\n</video>\n\n<script>\n    var vid = document.getElementById(\"vid\"); \n    vid.play(); \n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":260,"wires":[[]]},{"id":"24f02e75.76ba1a","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":580,"wires":[["42c0c977.3a2f18","a14b5a88.58a848"],[]]},{"id":"86d1cafc.ac091","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":620,"wires":[["989e6561.0884","a14b5a88.58a848"],[]]},{"id":"16f6bb5.87a5545","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":660,"wires":[["ef5eb3a9.e9e978","a14b5a88.58a848"],[]]},{"id":"8a3165e8.e97e6","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":700,"wires":[["603ce5c5.4f45fc","a14b5a88.58a848"],[]]},{"id":"c7680f70.4cc1c","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/btaudio","qos":"","retain":"","broker":"87027f97.16bdb","x":720,"y":380,"wires":[]},{"id":"808df9cf.963c88","type":"debug","z":"c5535a96.997cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":160,"wires":[]},{"id":"b8168d35.eabe88","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":420,"wires":[["53219c4.3beb064","a14b5a88.58a848","bed02d06.0d216"],[]]},{"id":"c999ce5d.6d43f8","type":"function","z":"c5535a96.997cd8","name":"Output","func":"var password = global.get(\"password_reader\");\n\nif (msg.payload.password ==password){\n    msg.payload.output = \"Connecting to: \"+msg.payload.rfid;\n    msg.payload.esito = 1;\n     \n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["b8168d35.eabe88"]]},{"id":"f6edd0b8.a545f","type":"http in","z":"c5535a96.997cd8","name":"","url":"/rfid","method":"post","upload":false,"swaggerDoc":"","x":80,"y":420,"wires":[["c999ce5d.6d43f8"]]},{"id":"53219c4.3beb064","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/tag_uid","qos":"","retain":"","broker":"87027f97.16bdb","x":720,"y":420,"wires":[]},{"id":"bed02d06.0d216","type":"debug","z":"c5535a96.997cd8","name":"tag_rifd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":340,"wires":[]},{"id":"5066c178.b2643","type":"mqtt in","z":"ebfbbc58.6b5348","name":"","topic":"/server_action","qos":"2","datatype":"auto","broker":"42993bd5.aaf934","x":110,"y":100,"wires":[["79d39eb6.188bb8"]]},{"id":"79d39eb6.188bb8","type":"function","z":"ebfbbc58.6b5348","name":"split","func":"var v = msg.payload.split(\"/\"); \nvar media_path = \"/home/pi/media/\";\nvar ip_address = global.get(\"ip_address\");\nmsg.payload = {\n    value : v[1],\n    ip : ip_address,\n    action : v[0],\n    show : true\n}\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":160,"wires":[["10e36652.15972a"]]},{"id":"10e36652.15972a","type":"switch","z":"ebfbbc58.6b5348","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"output1","vt":"str"},{"t":"eq","v":"output2","vt":"str"},{"t":"eq","v":"output3","vt":"str"},{"t":"eq","v":"output4","vt":"str"},{"t":"eq","v":"output5","vt":"str"},{"t":"eq","v":"ikea1","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":230,"y":200,"wires":[["4ddac6f4.2b754","f43e30ba.790778"],["b508edf5.d3836","81f54a43.17e778"],["2a9ab5d2.9e7a3a","af1535c0.16d85"],["86dc9c67.2e6a8","f4e54ecd.17f3e"],["b7c8d685.939da","9e571911.c49a8"],["d644e25a.9b76a8"]]},{"id":"c89bd66c.0ff628","type":"inject","z":"ebfbbc58.6b5348","name":"Ikea","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["cd349b19.c05a58"]]},{"id":"cd349b19.c05a58","type":"function","z":"ebfbbc58.6b5348","name":"->","func":"var n = msg.payload;\nvar ip_address = global.get(\"ip_address\");\nmsg.payload = {\n    value : \"20000\",\n    ip : ip_address,\n    action : \"ikea1\",\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["10e36652.15972a"]]},{"id":"d644e25a.9b76a8","type":"function","z":"ebfbbc58.6b5348","name":"light_1","func":"msg.payload = {\n    brightness: \"255\",\n    time: parseInt(msg.payload.value)\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["3bd390d8.18bf9","2851426.44a7abe"]]},{"id":"f86b2b81.1a6bd","type":"link in","z":"ebfbbc58.6b5348","name":"","links":["61f4f39b.b8357c","1c2eb844.7349c"],"x":415,"y":40,"wires":[["e8ddcf07.d600e8","27ea96e7.58724a","e568cc6d.4cbec8","a14bc8a0.7e98a8","8d677e37.f22e"]]},{"id":"b7c8d685.939da","type":"ui_template","z":"ebfbbc58.6b5348","group":"f4044b7a.9b3b28","name":"video_5","order":2,"width":"1","height":"1","format":"<style>\n.fullscreen-video {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 10000 !important;\n    \n}\n\n.md-sidenav-left {\n    display: none !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #000000 !important;\n    border: 1px solid #000000;\n    left: 0 !important;\n}\n\n#logo {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 9999 !important;\n    background-color: #000000 !important;\n    background-image: url(\"http://{{msg.ip_device}}/media/logo.png\") !important;\n    background-repeat: no-repeat !important;\n    background-position: center !important;\n    background-size: 25% !important;\n}\n\n.nr-dashboard-cardcontainer {\n    width:100% !important;\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    width: 10000px !important;\n    background-color: #000000 !important;\n}\n\n</style>\n\n<div id=\"logo\">\n        \n</div>\n\n<video \n  id=\"vid\"\n  onClick=\"document.getElementById('vid').play()\" \n  class=\"fullscreen-video\" \n  muted playsinline autoplay controls \n  ng-if=\"msg.payload.show\">\n  <source src=\"http://{{msg.payload.ip}}/media/video/{{msg.payload.value}}\" type=\"video/mp4\">\n</video>\n\n<script>\n    var vid = document.getElementById(\"vid\"); \n    vid.play(); \n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":300,"wires":[[]]},{"id":"98cdf176.c636e8","type":"inject","z":"ebfbbc58.6b5348","name":"serra_01","topic":"","payload":"serra_01.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["b9cefcd3.495308"]]},{"id":"b9cefcd3.495308","type":"function","z":"ebfbbc58.6b5348","name":"->","func":"var n = msg.payload;\nvar ip_address = global.get(\"ip_address\");\nmsg.payload = {\n    value : n,\n    ip : ip_address,\n    action : \"output1\",\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["10e36652.15972a"]]},{"id":"f43e30ba.790778","type":"function","z":"ebfbbc58.6b5348","name":"Path","func":"var media_path = \"/home/pi/media/\";\nvar path = media_path + \"video/\" + msg.payload.value;\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["9e7fcc29.8af478","2c733ea8.c67062"]]},{"id":"9e7fcc29.8af478","type":"exec","z":"ebfbbc58.6b5348","command":"mediainfo --Inform=\"Video;%Duration%\"  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"durata","x":630,"y":420,"wires":[["6fa6ce1b.ad6cb8"],[],[]]},{"id":"6fa6ce1b.ad6cb8","type":"function","z":"ebfbbc58.6b5348","name":"n","func":"var duration = parseInt(msg.payload);\nmsg.payload = duration;\nmsg.delay = duration+5000; //era 1500\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["62e5348d.61ed4c"]]},{"id":"62e5348d.61ed4c","type":"delay","z":"ebfbbc58.6b5348","name":"d","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":420,"wires":[["e8ddcf07.d600e8"]]},{"id":"e8ddcf07.d600e8","type":"function","z":"ebfbbc58.6b5348","name":"STOP","func":"var show_video = msg.payload;\nmsg.payload = {\n    video_name : \"\",  \n    show : false\n}\nvar ip_address = global.get(\"ip_address\");\nmsg.ip_device = ip_address;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["4ddac6f4.2b754"]]},{"id":"81f54a43.17e778","type":"function","z":"ebfbbc58.6b5348","name":"Path","func":"var media_path = \"/home/pi/media/\";\nvar path = media_path + \"video/\" + msg.payload.value;\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["9d325433.74783"]]},{"id":"9d325433.74783","type":"exec","z":"ebfbbc58.6b5348","command":"mediainfo --Inform=\"Video;%Duration%\"  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"durata","x":630,"y":480,"wires":[["f9ffd164.67665"],[],[]]},{"id":"f9ffd164.67665","type":"function","z":"ebfbbc58.6b5348","name":"n","func":"var duration = parseInt(msg.payload);\nmsg.payload = duration;\nmsg.delay = duration+5000; //era 1500\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["6a703015.1ffaf8"]]},{"id":"6a703015.1ffaf8","type":"delay","z":"ebfbbc58.6b5348","name":"d","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":480,"wires":[["27ea96e7.58724a"]]},{"id":"27ea96e7.58724a","type":"function","z":"ebfbbc58.6b5348","name":"STOP","func":"var show_video = msg.payload;\nmsg.payload = {\n    video_name : \"\",  \n    show : false\n}\nvar ip_address = global.get(\"ip_address\");\nmsg.ip_device = ip_address;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":480,"wires":[["b508edf5.d3836"]]},{"id":"af1535c0.16d85","type":"function","z":"ebfbbc58.6b5348","name":"Path","func":"var media_path = \"/home/pi/media/\";\nvar path = media_path + \"video/\" + msg.payload.value;\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["ff5113b7.71b418"]]},{"id":"ff5113b7.71b418","type":"exec","z":"ebfbbc58.6b5348","command":"mediainfo --Inform=\"Video;%Duration%\"  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"durata","x":630,"y":540,"wires":[["30c8b1ff.634e4e"],[],[]]},{"id":"30c8b1ff.634e4e","type":"function","z":"ebfbbc58.6b5348","name":"n","func":"var duration = parseInt(msg.payload);\nmsg.payload = duration;\nmsg.delay = duration+5000; //era 1500\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":540,"wires":[["172a568c.0dec89"]]},{"id":"172a568c.0dec89","type":"delay","z":"ebfbbc58.6b5348","name":"d","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":540,"wires":[["e568cc6d.4cbec8"]]},{"id":"e568cc6d.4cbec8","type":"function","z":"ebfbbc58.6b5348","name":"STOP","func":"var show_video = msg.payload;\nmsg.payload = {\n    video_name : \"\",  \n    show : false\n}\nvar ip_address = global.get(\"ip_address\");\nmsg.ip_device = ip_address;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":540,"wires":[["2a9ab5d2.9e7a3a"]]},{"id":"f4e54ecd.17f3e","type":"function","z":"ebfbbc58.6b5348","name":"Path","func":"var media_path = \"/home/pi/media/\";\nvar path = media_path + \"video/\" + msg.payload.value;\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["406957d3.efef48"]]},{"id":"406957d3.efef48","type":"exec","z":"ebfbbc58.6b5348","command":"mediainfo --Inform=\"Video;%Duration%\"  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"durata","x":630,"y":600,"wires":[["72db89a2.3756c"],[],[]]},{"id":"72db89a2.3756c","type":"function","z":"ebfbbc58.6b5348","name":"n","func":"var duration = parseInt(msg.payload);\nmsg.payload = duration;\nmsg.delay = duration+5000; //era 1500\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":600,"wires":[["47255dd1.3997ac"]]},{"id":"47255dd1.3997ac","type":"delay","z":"ebfbbc58.6b5348","name":"d","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":600,"wires":[["a14bc8a0.7e98a8"]]},{"id":"a14bc8a0.7e98a8","type":"function","z":"ebfbbc58.6b5348","name":"STOP","func":"var show_video = msg.payload;\nmsg.payload = {\n    video_name : \"\",  \n    show : false\n}\nvar ip_address = global.get(\"ip_address\");\nmsg.ip_device = ip_address;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":600,"wires":[["86dc9c67.2e6a8"]]},{"id":"11e7392d.39bbcf","type":"inject","z":"ebfbbc58.6b5348","name":"serra_02","topic":"","payload":"serra_09.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["6086bb98.3fcad4"]]},{"id":"6086bb98.3fcad4","type":"function","z":"ebfbbc58.6b5348","name":"->","func":"var n = msg.payload;\nvar ip_address = global.get(\"ip_address\");\nmsg.payload = {\n    value : n,\n    ip : ip_address,\n    action : \"output2\",\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["10e36652.15972a"]]},{"id":"4ddac6f4.2b754","type":"ui_template","z":"ebfbbc58.6b5348","group":"f2b9e5a8.403728","name":"video_1","order":4,"width":"1","height":"1","format":"<style>\n.fullscreen-video {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 10000 !important;\n    \n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #000000 !important;\n    border: 1px solid #000000;\n    left: 0 !important;\n}\n\n#logo {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 9999 !important;\n    background-color: #000000 !important;\n    background-image: url(\"http://{{msg.ip_device}}/media/logo.png\") !important;\n    background-repeat: no-repeat !important;\n    background-position: center !important;\n    background-size: 25% !important;\n}\n\n.nr-dashboard-cardcontainer {\n    width:100% !important;\n}\n\n._md-button-wrap {\n    display: none;\n}\n\n.md-sidenav-left {\n    display: none !important;\n}\n\n\nbody.nr-dashboard-theme md-content md-card {\n    width: 10000px !important;\n    background-color: #000000 !important;\n}\n</style>\n\n<div id=\"logo\">\n        \n</div>\n\n\n<video \n  id=\"vid\"\n  onClick=\"document.getElementById('vid').play()\" \n  class=\"fullscreen-video\" \n  muted playsinline autoplay controls \n  ng-if=\"msg.payload.show\">\n  <source src=\"http://{{msg.payload.ip}}/media/video/{{msg.payload.value}}\" type=\"video/mp4\">\n</video>\n\n<script>\n   document.getElementById(\"vid\").play(); \n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":140,"wires":[[]]},{"id":"9e571911.c49a8","type":"function","z":"ebfbbc58.6b5348","name":"Path","func":"var media_path = \"/home/pi/media/\";\nvar path = media_path + \"video/\" + msg.payload.value;\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["1e7f43f7.2e757c"]]},{"id":"1e7f43f7.2e757c","type":"exec","z":"ebfbbc58.6b5348","command":"mediainfo --Inform=\"Video;%Duration%\"  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"durata","x":630,"y":660,"wires":[["f7b2e30c.62718"],[],[]]},{"id":"f7b2e30c.62718","type":"function","z":"ebfbbc58.6b5348","name":"n","func":"var duration = parseInt(msg.payload);\nmsg.payload = duration;\nmsg.delay = duration+5000; //era 1500\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":660,"wires":[["79098d1a.6ebb7c"]]},{"id":"79098d1a.6ebb7c","type":"delay","z":"ebfbbc58.6b5348","name":"d","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":660,"wires":[["8d677e37.f22e"]]},{"id":"8d677e37.f22e","type":"function","z":"ebfbbc58.6b5348","name":"STOP","func":"var show_video = msg.payload;\nmsg.payload = {\n    video_name : \"\",  \n    show : false\n}\nvar ip_address = global.get(\"ip_address\");\nmsg.ip_device = ip_address;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":660,"wires":[["b7c8d685.939da"]]},{"id":"444a17dc.a2e6f","type":"inject","z":"ebfbbc58.6b5348","name":"serra_03","topic":"","payload":"serra_03.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["1a34897a.ca8707"]]},{"id":"1a34897a.ca8707","type":"function","z":"ebfbbc58.6b5348","name":"->","func":"var n = msg.payload;\nvar ip_address = global.get(\"ip_address\");\nmsg.payload = {\n    value : n,\n    ip : ip_address,\n    action : \"output3\",\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["10e36652.15972a"]]},{"id":"af2f05d1.f3e1e","type":"inject","z":"ebfbbc58.6b5348","name":"serra_04","topic":"","payload":"serra_04.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["c1e324d2.21d138"]]},{"id":"c1e324d2.21d138","type":"function","z":"ebfbbc58.6b5348","name":"->","func":"var n = msg.payload;\nvar ip_address = global.get(\"ip_address\");\nmsg.payload = {\n    value : n,\n    ip : ip_address,\n    action : \"output4\",\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["10e36652.15972a"]]},{"id":"3bd390d8.18bf9","type":"tradfri","z":"ebfbbc58.6b5348","name":"BULB 1","deviceId":"65538","deviceName":"TRADFRI bulb 2","connection":"ba48a2cd.71068","observe":false,"x":1100,"y":340,"wires":[[]]},{"id":"2b6bc431.f118b4","type":"function","z":"ebfbbc58.6b5348","name":"stop","func":"var mode = msg.payload;\nmsg.payload = {\n    brightness: \"0\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":340,"wires":[["3bd390d8.18bf9"]]},{"id":"2851426.44a7abe","type":"function","z":"ebfbbc58.6b5348","name":"n","func":"var duration = parseInt(msg.payload.time);\nmsg.payload = duration;\nmsg.delay = duration;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["eedb1bb.1268be8"]]},{"id":"eedb1bb.1268be8","type":"delay","z":"ebfbbc58.6b5348","name":"d","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":340,"wires":[["2b6bc431.f118b4"]]},{"id":"d1ad1de5.b8c488","type":"inject","z":"ebfbbc58.6b5348","name":"serra_05","topic":"","payload":"serra_04.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["8b06c862.dc7988"]]},{"id":"8b06c862.dc7988","type":"function","z":"ebfbbc58.6b5348","name":"->","func":"var n = msg.payload;\nvar ip_address = global.get(\"ip_address\");\nmsg.payload = {\n    value : n,\n    ip : ip_address,\n    action : \"output5\",\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["10e36652.15972a"]]},{"id":"40c2bfbb.925c9","type":"start-up-trigger","z":"c5535a96.997cd8","x":100,"y":60,"wires":[["85a3627c.61e66"]]},{"id":"85a3627c.61e66","type":"exec","z":"c5535a96.997cd8","command":"hostname -I | awk '{ print $1 }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Recupera indirizzo IP","x":300,"y":60,"wires":[["a1d6d6b3.80d18"],[],[]]},{"id":"a1d6d6b3.80d18","type":"function","z":"c5535a96.997cd8","name":"Salva indirizzo IP","func":"var ip_address = msg.payload;\nip_address = ip_address.replace(/\\s+/g, ' ').trim();\nglobal.set(\"ip_address\", ip_address);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["1c2eb844.7349c"]]},{"id":"1c2eb844.7349c","type":"link out","z":"c5535a96.997cd8","name":"","links":["f86b2b81.1a6bd","51d5c06d.26b05"],"x":655,"y":60,"wires":[]},{"id":"24ce2fb5.4a6568","type":"inject","z":"ebfbbc58.6b5348","name":"OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":240,"wires":[["736b1a80.0f7724"]]},{"id":"736b1a80.0f7724","type":"function","z":"ebfbbc58.6b5348","name":"brightness","func":"var mode = msg.payload;\nmsg.payload = {\n    brightness: mode\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":240,"wires":[["3bd390d8.18bf9"]]},{"id":"494c1dcb.815cac","type":"inject","z":"ebfbbc58.6b5348","name":"ON","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":200,"wires":[["736b1a80.0f7724"]]},{"id":"2c733ea8.c67062","type":"debug","z":"ebfbbc58.6b5348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":100,"wires":[]}]