reader/flows_casamuseorpi.json
[{"id":"c5535a96.997cd8","type":"tab","label":"Admin","disabled":false,"info":""},{"id":"1308c03.6ec99c","type":"tab","label":"Configurazione","disabled":false,"info":""},{"id":"f91e7410.434c6","type":"tab","label":"<->","disabled":false,"info":""},{"id":"ebfbbc58.6b5348","type":"tab","label":"VIDEO","disabled":false,"info":""},{"id":"723438d6.bfcdf8","type":"tab","label":"AUDIO / BLUETOOTH","disabled":false,"info":""},{"id":"bc62d8f7.176f1","type":"tab","label":"RFID_READER","disabled":false,"info":""},{"id":"dfb3a530.0ed868","type":"tab","label":"BUTTON","disabled":false,"info":""},{"id":"33ae5f67.c2bbc","type":"tab","label":"NEOPIXEL_SPOT","disabled":false,"info":""},{"id":"6fe7e7cb.3d1ba","type":"tab","label":"NEOPIXEL_LOCAL","disabled":false,"info":""},{"id":"389ee1c3.c98cde","type":"tab","label":"IKEA TRADFRI","disabled":false,"info":""},{"id":"87027f97.16bdb","type":"mqtt-broker","z":"","name":"LOCAL","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2ae6ba29.239db6","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36a9a856.301228","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"508a941c.aa7f7c","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23cd05d6.d1cbea","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ade69968.1a57f8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2d97c698.874eaa","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9ec20e7.cd8a3","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"634c1883.3886e8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3f812c69.ffb804","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bafaf688.664f08","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42993bd5.aaf934","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eea92813.317758","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9405750f.5bebe8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e82f49f7.535538","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"719b54c3.b6c9bc","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4a6e712.82cbd8","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f33080f7.2ea6f","type":"mqtt-broker","z":"","name":"LOCAL","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1939311.0dc84","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"black","default":"#4B7930","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#000000","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#262626","edited":true},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#000000","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":1024,"sy":768,"gx":0,"gy":0,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"53723777.933018","type":"ui_tab","z":"ebfbbc58.6b5348","name":"Tab 1","icon":"theaters","order":1,"disabled":false,"hidden":false},{"id":"f2b9e5a8.403728","type":"ui_group","z":"ebfbbc58.6b5348","name":"Group 1","tab":"53723777.933018","disp":false,"width":"12","collapse":false},{"id":"9a13e131.183808","type":"websocket-listener","z":"","path":"/ws/utility","wholemsg":"false"},{"id":"7973d081.c945e","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"49fce291.3e46bc","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"651b4495.4dc13c","type":"tradfri-connection","z":"","address":"192.168.1.153","name":""},{"id":"d79bb500.c6604","type":"mqtt-broker","z":"","name":"server","broker":"192.168.1.24","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7ff67eeb.ac2ea","type":"exec","z":"723438d6.bfcdf8","command":"/usr/bin/mpg321","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Play","x":630,"y":100,"wires":[["406697ff.734e"],[],["406697ff.734e"]]},{"id":"9026778b.4783c8","type":"function","z":"723438d6.bfcdf8","name":"Costruisci path","func":"var media_path = global.get(\"media_path\") || \"/tmp/\";\nvar path = media_path + \"audio/\";\nvar audio = msg.payload;\n\nmsg.payload = path + audio;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["7ff67eeb.ac2ea","f7a1ddad.923f18"]]},{"id":"66b010d6.56f5b8","type":"function","z":"723438d6.bfcdf8","name":"test","func":"msg.payload = \"test_480.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["9026778b.4783c8"]]},{"id":"90b59d97.1b75f8","type":"inject","z":"723438d6.bfcdf8","name":"TEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["66b010d6.56f5b8"]]},{"id":"3537b2e0.4f844e","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/stop","qos":"2","broker":"2ae6ba29.239db6","x":250,"y":240,"wires":[["cd2c9177.62ff3"]]},{"id":"f0bc0c58.477e98","type":"inject","z":"723438d6.bfcdf8","name":"STOP","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["cd2c9177.62ff3"]]},{"id":"2adcdab1.2e344e","type":"comment","z":"723438d6.bfcdf8","name":"STOP MUSIC","info":"","x":90,"y":200,"wires":[]},{"id":"cd2c9177.62ff3","type":"exec","z":"723438d6.bfcdf8","command":"killall -9 mpg321","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop Audio","x":450,"y":220,"wires":[[],[],[]]},{"id":"ca6368e7.0229a","type":"function","z":"723438d6.bfcdf8","name":"silence","func":"msg.payload = \"silence.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1040,"wires":[["bdcb6aee.59d89"]]},{"id":"96bebb26.f0fda","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_03_ri_connect.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BT Connection <MAC>","x":370,"y":580,"wires":[["a198f107.d2213"],["a198f107.d2213"],["a198f107.d2213"]]},{"id":"3d34e4fa.5e4a7c","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/btaudio","qos":"2","broker":"2ae6ba29.239db6","x":80,"y":540,"wires":[["96bebb26.f0fda","fb1a65ee.90783"]]},{"id":"a372e208.399ec","type":"comment","z":"723438d6.bfcdf8","name":"CONNESSIONE A BT SPEAKER","info":"","x":150,"y":480,"wires":[]},{"id":"406697ff.734e","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/stopall","qos":"","retain":"","broker":"2ae6ba29.239db6","x":800,"y":100,"wires":[]},{"id":"bdcb6aee.59d89","type":"function","z":"723438d6.bfcdf8","name":"Costruisci path","func":"var media_path = global.get(\"media_path\") || \"/tmp/\";\nvar path = media_path + \"audio/\";\nvar audio = msg.payload;\n\nmsg.payload = path + audio;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1120,"wires":[["9dc62956.604f8","7e2072db.ab4d3c"]]},{"id":"7e2072db.ab4d3c","type":"exec","z":"723438d6.bfcdf8","command":"/usr/bin/mpg321","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Play","x":370,"y":1080,"wires":[[],[],[]]},{"id":"9dc62956.604f8","type":"delay","z":"723438d6.bfcdf8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":1080,"wires":[["ca6368e7.0229a"]]},{"id":"b6b34f19.0b24","type":"comment","z":"723438d6.bfcdf8","name":"SETUP + CONNESSIONE BT PERMANENTE","info":"","x":190,"y":900,"wires":[]},{"id":"b45463f6.ca14","type":"comment","z":"723438d6.bfcdf8","name":"Gestione Eventi Associati a Audio","info":"","x":160,"y":40,"wires":[]},{"id":"7e18f15c.7ee5d8","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_02_disconnect_everything.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BT Disconnection","x":410,"y":1020,"wires":[[],[],[]]},{"id":"d7a9e1db.c5226","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/multimedia_audio","qos":"2","broker":"36a9a856.301228","x":125,"y":94,"wires":[["9026778b.4783c8"]]},{"id":"fb1a65ee.90783","type":"debug","z":"723438d6.bfcdf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":620,"wires":[]},{"id":"a198f107.d2213","type":"delay","z":"723438d6.bfcdf8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":595,"y":574,"wires":[["ac528968.638a48","3e537870.8c4bc"]]},{"id":"b1c84d66.aa897","type":"inject","z":"723438d6.bfcdf8","name":"","topic":"","payload":"EB:06:BF:85:06:47","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["96bebb26.f0fda"]]},{"id":"f3dad230.0496f8","type":"inject","z":"723438d6.bfcdf8","name":"","topic":"","payload":"6C:5C:3D:31:09:CA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["96bebb26.f0fda"]]},{"id":"752e08cd.d3442","type":"start-up-trigger","z":"723438d6.bfcdf8","x":120,"y":960,"wires":[["ca6368e7.0229a","7e18f15c.7ee5d8","b3257aab.45c29"]]},{"id":"ac528968.638a48","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/setA2DP","qos":"","retain":"","broker":"87027f97.16bdb","x":600,"y":620,"wires":[]},{"id":"3e537870.8c4bc","type":"delay","z":"723438d6.bfcdf8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":560,"wires":[["976096ea.1a837"]]},{"id":"4b7a3115.1da31","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/setVolume","qos":"","retain":"","broker":"87027f97.16bdb","x":813,"y":640,"wires":[]},{"id":"976096ea.1a837","type":"function","z":"723438d6.bfcdf8","name":"100%","func":"msg.payload=100;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":600,"wires":[["4b7a3115.1da31"]]},{"id":"b3257aab.45c29","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_01_start_pulseaudio_once.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start Pulseaudio ","x":410,"y":960,"wires":[[],[],[]]},{"id":"dacced2d.b79ba8","type":"debug","z":"bc62d8f7.176f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":220,"wires":[]},{"id":"bd2364c6.e69","type":"exec","z":"bc62d8f7.176f1","command":"python -u /home/pi/scripts/rfid/rfid_reading.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":260,"y":160,"wires":[["22f40efd.2c1802"],[],["8ce19a10.c7bd6"]]},{"id":"8ce19a10.c7bd6","type":"delay","z":"bc62d8f7.176f1","name":"Delay and restart","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":260,"wires":[["bd2364c6.e69"]]},{"id":"29568a60.9df4e6","type":"start-up-trigger","z":"bc62d8f7.176f1","x":120,"y":100,"wires":[["bd2364c6.e69"]]},{"id":"aec300f3.cec848","type":"function","z":"bc62d8f7.176f1","name":"normalizza","func":"var uid = msg.payload.trim();\nmsg.payload = uid;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["dacced2d.b79ba8","291da95f.fd576e","7fced74b.0a012"]]},{"id":"6b0195d.6e8626c","type":"comment","z":"bc62d8f7.176f1","name":"RFID interaction","info":"","x":100,"y":40,"wires":[]},{"id":"28c84884.f67e98","type":"function","z":"bc62d8f7.176f1","name":"blink blue","func":"msg.payload = \"blinkblue\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":140,"wires":[["8f719984.e71cb"]]},{"id":"8f719984.e71cb","type":"mqtt out","z":"bc62d8f7.176f1","name":"","topic":"/neopixel","qos":"","retain":"","broker":"508a941c.aa7f7c","x":1080,"y":140,"wires":[]},{"id":"291da95f.fd576e","type":"mqtt out","z":"bc62d8f7.176f1","name":"","topic":"/tag_uid","qos":"","retain":"","broker":"23cd05d6.d1cbea","x":1080,"y":180,"wires":[]},{"id":"2a2a99c4.b5e41e","type":"rbe","z":"bc62d8f7.176f1","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":120,"wires":[[]]},{"id":"6e6266cb.6429d","type":"delay","z":"bc62d8f7.176f1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":220,"wires":[["bc3da402.86aaf8"]]},{"id":"bc3da402.86aaf8","type":"function","z":"bc62d8f7.176f1","name":"Reset","func":"msg.payload = \"00000000\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["22f40efd.2c1802"]]},{"id":"22f40efd.2c1802","type":"switch","z":"bc62d8f7.176f1","name":"Filtra","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"00000000","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":160,"wires":[[],["28c84884.f67e98","aec300f3.cec848","6e6266cb.6429d"]]},{"id":"80824be3.4abe68","type":"comment","z":"33ae5f67.c2bbc","name":"LIGHT CONTROL","info":"","x":130,"y":40,"wires":[]},{"id":"2cb46ff6.e875a","type":"mqtt in","z":"33ae5f67.c2bbc","name":"","topic":"/neopixelspotRGBW","qos":"2","broker":"2d97c698.874eaa","x":150,"y":80,"wires":[["87736962.0d9aa8"]]},{"id":"87736962.0d9aa8","type":"json","z":"33ae5f67.c2bbc","name":"","property":"payload","action":"","pretty":true,"x":330,"y":80,"wires":[["509f6766.dc8148"]]},{"id":"509f6766.dc8148","type":"function","z":"33ae5f67.c2bbc","name":"Normalizza","func":"//msg.payload= \"{\\\"ip\\\":\\\"\" + ip_spot + \"\\\",\\\"color\\\":\\\"\" + color + \"\\\"}\";\nvar color = msg.payload.color;\nvar ip = msg.payload.ip;\n\nmsg.payload = color;\nmsg.ip = ip;\nmsg.topic = ip;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["861b60.38163ca","d29c8163.16fbe"]]},{"id":"79499d04.db4dfc","type":"inject","z":"33ae5f67.c2bbc","name":"TEST rosso","topic":"","payload":"#FF000000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["64d0c471.38ea7c"]]},{"id":"baff76a7.c1fc38","type":"mqtt out","z":"33ae5f67.c2bbc","name":"","topic":"/neopixelspotRGBW","qos":"","retain":"","broker":"2d97c698.874eaa","x":780,"y":240,"wires":[]},{"id":"c110b433.575ca","type":"comment","z":"33ae5f67.c2bbc","name":"OFF mqtt","info":"","x":100,"y":200,"wires":[]},{"id":"d29c8163.16fbe","type":"debug","z":"33ae5f67.c2bbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":80,"wires":[]},{"id":"861b60.38163ca","type":"osc","z":"33ae5f67.c2bbc","name":"","path":"/neopixelspot","metadata":false,"x":530,"y":120,"wires":[["de3571f8.65879"]]},{"id":"de3571f8.65879","type":"udp out","z":"33ae5f67.c2bbc","name":"NeoPixelSpot","addr":"","iface":"","port":"8889","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":720,"y":100,"wires":[]},{"id":"64d0c471.38ea7c","type":"function","z":"33ae5f67.c2bbc","name":"Estrai tutti i neopixelspot","func":"var neopixelspot = global.get(\"neopixelspot\");\nvar color = msg.payload;\n\nmsg.payload = neopixelspot;\nmsg.TESTcolor = color;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["7d7e0d28.72236c","251771c0.14d0de"]]},{"id":"1214fa74.b461b6","type":"function","z":"33ae5f67.c2bbc","name":"Genera topic e msg MQTT per NEOPIXELSPOT","func":"var ip_spot = msg.payload.ip_indirizzo;\nvar color = msg.TESTcolor;\n\nglobal.set(\"neopixelspotRGBW\", \"\");\nmsg.payload= \"{\\\"ip\\\":\\\"\" + ip_spot + \"\\\",\\\"color\\\":\\\"\" + color + \"\\\"}\";\nmsg.topic = \"/neopixelspotRGB\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["baff76a7.c1fc38"]]},{"id":"251771c0.14d0de","type":"debug","z":"33ae5f67.c2bbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":440,"wires":[]},{"id":"504d3852.c7e9c","type":"mqtt in","z":"33ae5f67.c2bbc","name":"","topic":"/stop","qos":"2","broker":"a9ec20e7.cd8a3","x":110,"y":240,"wires":[["3f9d1f6e.25d56"]]},{"id":"cddfaa95.a234f8","type":"comment","z":"33ae5f67.c2bbc","name":"TEST manuali","info":"","x":110,"y":340,"wires":[]},{"id":"3f9d1f6e.25d56","type":"function","z":"33ae5f67.c2bbc","name":"Genera topic e msg MQTT per NEOPIXELSPOT","func":"var ip_spot = global.get(\"neopixelspotRGBW\");\n\nmsg.payload= \"{\\\"ip\\\":\\\"\" + ip_spot + \"\\\",\\\"color\\\":\\\"#00000000\\\"}\";\nmsg.topic = \"/neopixelspotRGB\";\nglobal.get(\"neopixelspotRGBW\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["baff76a7.c1fc38"]]},{"id":"8e619aa4.33c028","type":"inject","z":"33ae5f67.c2bbc","name":"TEST spento","topic":"","payload":"#00000000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["64d0c471.38ea7c"]]},{"id":"7d7e0d28.72236c","type":"splitter","z":"33ae5f67.c2bbc","name":"","property":"payload","x":390,"y":440,"wires":[["1214fa74.b461b6","251771c0.14d0de"]]},{"id":"b90de27.80904a","type":"comment","z":"dfb3a530.0ed868","name":"Physical Button","info":"","x":120,"y":40,"wires":[]},{"id":"3c7fde21.e9d5fa","type":"rpi-gpio in","z":"dfb3a530.0ed868","name":"Button","pin":"13","intype":"up","debounce":"25","read":false,"x":110,"y":120,"wires":[["f6b973.52d6e69","279a1bd5.4e3614","94935dee.d40fd8","b2108492.7be4d","1943dd52.1ac223"]]},{"id":"f6b973.52d6e69","type":"mqtt out","z":"dfb3a530.0ed868","name":"","topic":"/stop","qos":"","retain":"","broker":"634c1883.3886e8","x":350,"y":120,"wires":[]},{"id":"22c8ed1e.d297c2","type":"mqtt out","z":"dfb3a530.0ed868","name":"","topic":"/ikea","qos":"","retain":"","broker":"634c1883.3886e8","x":510,"y":160,"wires":[]},{"id":"279a1bd5.4e3614","type":"function","z":"dfb3a530.0ed868","name":"brightness 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["22c8ed1e.d297c2"]]},{"id":"94935dee.d40fd8","type":"function","z":"dfb3a530.0ed868","name":"blank","func":"msg.payload = \"blank\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["3a8924be.f510d4"]]},{"id":"3a8924be.f510d4","type":"mqtt out","z":"dfb3a530.0ed868","name":"","topic":"/neopixel","qos":"","retain":"","broker":"634c1883.3886e8","x":520,"y":200,"wires":[]},{"id":"b2108492.7be4d","type":"debug","z":"dfb3a530.0ed868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":80,"wires":[]},{"id":"da4be45d.150f","type":"comment","z":"dfb3a530.0ed868","name":"Audio/Video","info":"","x":790,"y":120,"wires":[]},{"id":"3e61ce71.59da32","type":"comment","z":"dfb3a530.0ed868","name":"IKEA TRADFRI","info":"","x":800,"y":160,"wires":[]},{"id":"4c476ddf.7d1e14","type":"comment","z":"dfb3a530.0ed868","name":"NeoPixel onboard","info":"","x":810,"y":200,"wires":[]},{"id":"d65749ef.f6a788","type":"mqtt in","z":"dfb3a530.0ed868","name":"","topic":"/stopall","qos":"2","broker":"634c1883.3886e8","x":110,"y":180,"wires":[["f6b973.52d6e69","279a1bd5.4e3614","94935dee.d40fd8"]]},{"id":"d9e7d628.63c41","type":"exec","z":"723438d6.bfcdf8","command":"/home/pi/scripts/bluetooth/bt_06_set_volume_pct.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"volume","x":800,"y":340,"wires":[[],[],[]]},{"id":"3aa24969.ccae76","type":"inject","z":"723438d6.bfcdf8","name":"Imposta Volume","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":320,"wires":[["6c1b103f.7708a8"]]},{"id":"6c1b103f.7708a8","type":"function","z":"723438d6.bfcdf8","name":"100%","func":"msg.payload=50;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["d9e7d628.63c41"]]},{"id":"287ef471.bb2834","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/setVolume","qos":"2","datatype":"auto","broker":"87027f97.16bdb","x":640,"y":360,"wires":[["d9e7d628.63c41"]]},{"id":"dbdcb3ca.85387","type":"comment","z":"723438d6.bfcdf8","name":"VOLUME","info":"","x":80,"y":320,"wires":[]},{"id":"698b213b.999de8","type":"inject","z":"6fe7e7cb.3d1ba","name":"Red","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["10e3f52a.d85613"]]},{"id":"b3e492aa.f8024","type":"inject","z":"6fe7e7cb.3d1ba","name":"Blue","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["10e3f52a.d85613"]]},{"id":"944ec1db.206b","type":"inject","z":"6fe7e7cb.3d1ba","name":"Green","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["10e3f52a.d85613"]]},{"id":"d49b7e22.1d695","type":"inject","z":"6fe7e7cb.3d1ba","name":"OFF","topic":"","payload":"blank","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["10e3f52a.d85613"]]},{"id":"62586440.90ae84","type":"mqtt in","z":"6fe7e7cb.3d1ba","name":"","topic":"/neopixel","qos":"2","broker":"3f812c69.ffb804","x":100,"y":80,"wires":[["8a52c916.c36bb8"]]},{"id":"81616b7.46b9b98","type":"comment","z":"6fe7e7cb.3d1ba","name":"NODE NEOPIXEL","info":"*Per pilotare via MQTT*\ninviare al topic /neopixel un messaggio \nblue / red / green / off \ncorrispondente al colore\ndesiderato\n\nE' possibile inviare anche un messaggio\nblinkred / blinkgreen / blink..\nper far effettuare un lampeggio del colore \ndesiderato","x":110,"y":40,"wires":[]},{"id":"c5385980.093168","type":"comment","z":"6fe7e7cb.3d1ba","name":"BLINK","info":"","x":510,"y":40,"wires":[]},{"id":"f751402.50be54","type":"trigger","z":"6fe7e7cb.3d1ba","op1":"","op2":"blank","op1type":"pay","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":120,"wires":[["352d2e8.3d00a52"]]},{"id":"8a52c916.c36bb8","type":"switch","z":"6fe7e7cb.3d1ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"blink","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["18497eae.e3bbe1"],["10e3f52a.d85613"]]},{"id":"18497eae.e3bbe1","type":"function","z":"6fe7e7cb.3d1ba","name":"Remove \"blink\"","func":"var content = msg.payload;\nmsg.payload = content.replace(\"blink\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":80,"wires":[["f751402.50be54"]]},{"id":"8d0f764f.89c36","type":"comment","z":"6fe7e7cb.3d1ba","name":"ON/OFF","info":"","x":340,"y":280,"wires":[]},{"id":"ded94b66.1dbe28","type":"function","z":"6fe7e7cb.3d1ba","name":"","func":"var content = msg.payload;\nmsg.payload = content.replace(\"blink\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":560,"wires":[["6bd50e4c.2010a8","3804d32c.a6ac8c"]]},{"id":"5779427a.d6fd84","type":"function","z":"6fe7e7cb.3d1ba","name":"","func":"msg.payload = \"blank\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":640,"wires":[["3804d32c.a6ac8c"]]},{"id":"6bd50e4c.2010a8","type":"delay","z":"6fe7e7cb.3d1ba","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":600,"wires":[["5779427a.d6fd84"]]},{"id":"57e0fab0.ca4364","type":"comment","z":"6fe7e7cb.3d1ba","name":"BLINK ALTERNATIVO","info":"","x":120,"y":520,"wires":[]},{"id":"36755b33.16c32c","type":"comment","z":"6fe7e7cb.3d1ba","name":"MANUAL","info":"","x":80,"y":260,"wires":[]},{"id":"65230fdd.84424","type":"inject","z":"389ee1c3.c98cde","name":"ON","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["f188e508.9d42c8"]]},{"id":"23a7ee85.3a8292","type":"inject","z":"389ee1c3.c98cde","name":"OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["f188e508.9d42c8"]]},{"id":"a78eea3e.ae1ff8","type":"debug","z":"389ee1c3.c98cde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":300,"wires":[]},{"id":"c24d7305.2e315","type":"mqtt in","z":"389ee1c3.c98cde","name":"","topic":"/ikea","qos":"2","datatype":"auto","broker":"bafaf688.664f08","x":110,"y":80,"wires":[["f188e508.9d42c8"]]},{"id":"f188e508.9d42c8","type":"function","z":"389ee1c3.c98cde","name":"brightness","func":"var mode = msg.payload;\nmsg.payload = {\n    brightness: mode\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["70520b2e.42ab3c"]]},{"id":"4a41fd14.257f1c","type":"comment","z":"389ee1c3.c98cde","name":"IKEA","info":"*Per pilotare via MQTT*\ninviare al topic /ikea un messaggio 0-255 \ncorrispondente al livello di luminosità \ndesiderato","x":90,"y":40,"wires":[]},{"id":"dd50fea3.c97","type":"inject","z":"ebfbbc58.6b5348","name":"STOP","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["934356de.a4a74"]]},{"id":"21b402d.b9e077e","type":"inject","z":"ebfbbc58.6b5348","name":"TEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["6af9650f.689d04"]]},{"id":"6af9650f.689d04","type":"function","z":"ebfbbc58.6b5348","name":"test_480","func":"var ip_address = global.get(\"ip_address\");\n\nmsg.payload = {\n    video_name : \"test_480.mp4\",  \n    ip : ip_address,\n    tablet: 1,\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["f50837ce.e3a7d"]]},{"id":"934356de.a4a74","type":"function","z":"ebfbbc58.6b5348","name":"STOP","func":"var show_video = msg.payload;\nmsg.payload = {\n    video_name : \"\",  \n    show : false\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":420,"wires":[["69cf8173.29af58","975bc4e7.cfbd2","4ddac6f4.2b754"]]},{"id":"b0a55f13.ae99b8","type":"mqtt in","z":"ebfbbc58.6b5348","name":"","topic":"/stop","qos":"2","broker":"42993bd5.aaf934","x":90,"y":380,"wires":[["934356de.a4a74"]]},{"id":"8c810662.4143c","type":"comment","z":"ebfbbc58.6b5348","name":"STOP VIDEO","info":"","x":100,"y":340,"wires":[]},{"id":"69cf8173.29af58","type":"function","z":"ebfbbc58.6b5348","name":"cyan / blank","func":"var msg = msg.payload;\nif (msg.show === true) {\n    msg.payload = \"cyan\";\n} else {\n    msg.payload = \"blank\";    \n} \nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":400,"wires":[["9da9bcf.14250c"]]},{"id":"d8528656.9d0ba8","type":"mqtt out","z":"ebfbbc58.6b5348","name":"","topic":"/neopixel","qos":"","retain":"","broker":"42993bd5.aaf934","x":1060,"y":400,"wires":[]},{"id":"f50837ce.e3a7d","type":"function","z":"ebfbbc58.6b5348","name":"pipe","func":"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["49e22510.a90d1c","3e28530a.4ee6d4","317f85c2.561e7a","4ddac6f4.2b754","4417043b.4c1d2c","69cf8173.29af58"]]},{"id":"9da9bcf.14250c","type":"delay","z":"ebfbbc58.6b5348","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":400,"wires":[["d8528656.9d0ba8"]]},{"id":"1c1fabdf.9ba8bc","type":"mqtt out","z":"ebfbbc58.6b5348","name":"","topic":"/video","qos":"0","retain":"false","broker":"42993bd5.aaf934","x":1050,"y":340,"wires":[]},{"id":"ed4de3c0.b2ed48","type":"function","z":"ebfbbc58.6b5348","name":"Costruisci messaggio PLAY server","func":"//indirizzo server\nvar ip_address = \"192.168.0.102\";\nvar json_msg = \"{\\\"command\\\":\\\"play\\\",\\\"url\\\":\\\"http://\" + ip_address + \"/media/video/\" + msg.payload.video_name + \"\\\"}\";\nmsg.payload = json_msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":680,"wires":[[]]},{"id":"975bc4e7.cfbd2","type":"function","z":"ebfbbc58.6b5348","name":"Costruisci messaggio STOP","func":"var json_msg = \"{\\\"command\\\":\\\"stop\\\"}\";\nmsg.payload = json_msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":540,"wires":[["1c1fabdf.9ba8bc"]]},{"id":"cf4d4abc.138f68","type":"comment","z":"ebfbbc58.6b5348","name":"Gestione Eventi Associati a Video","info":"","x":160,"y":40,"wires":[]},{"id":"49e22510.a90d1c","type":"function","z":"ebfbbc58.6b5348","name":"Full FS Path","func":"var media_path = global.get(\"media_path\") || \"/tmp/\";\nvar path = media_path + \"video/\" + msg.payload.video_name;\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[[]]},{"id":"f009a66e.2a5ff","type":"exec","z":"ebfbbc58.6b5348","command":"mediainfo --Inform=\"Video;%Duration%\"  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":1000,"y":120,"wires":[["224a430a.a5a244"],[],[]]},{"id":"3551d758.c6e3f8","type":"debug","z":"ebfbbc58.6b5348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":240,"wires":[]},{"id":"d2cf4e7e.fc3cb","type":"mqtt in","z":"ebfbbc58.6b5348","name":"","topic":"/multimedia_video","qos":"2","broker":"eea92813.317758","x":130,"y":80,"wires":[["2516089c.eecb18"]]},{"id":"2516089c.eecb18","type":"function","z":"ebfbbc58.6b5348","name":"Costruisci Payload","func":"var video_title = msg.payload;\nvar ip_address = global.get(\"ip_address\");\nmsg.ip_device = ip_address;\nmsg.payload = {\n    video_name : video_title,\n    ip : ip_address,\n    show : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["f50837ce.e3a7d"]]},{"id":"3e28530a.4ee6d4","type":"debug","z":"ebfbbc58.6b5348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":40,"wires":[]},{"id":"224a430a.a5a244","type":"function","z":"ebfbbc58.6b5348","name":"Normalizza","func":"var duration = parseInt(msg.payload);\nmsg.payload = duration;\nmsg.delay = duration + 1500; //era 1500\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":100,"wires":[["3551d758.c6e3f8","5eb06acb.71b63c"]]},{"id":"5eb06acb.71b63c","type":"delay","z":"ebfbbc58.6b5348","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":140,"wires":[["c042074c.b88e18"]]},{"id":"c042074c.b88e18","type":"mqtt out","z":"ebfbbc58.6b5348","name":"","topic":"/stop","qos":"","retain":"","broker":"eea92813.317758","x":1450,"y":60,"wires":[]},{"id":"317f85c2.561e7a","type":"function","z":"ebfbbc58.6b5348","name":"Costruisci messaggio PLAY local","func":"var ip_address = global.get(\"ip_address\");\nvar json_msg = \"{\\\"command\\\":\\\"play\\\",\\\"url\\\":\\\"http://\" + ip_address + \"/media/video/\" + msg.payload.video_name + \"\\\"}\";\nmsg.payload = json_msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":260,"wires":[["3551d758.c6e3f8","1c1fabdf.9ba8bc"]]},{"id":"3328b6b4.bd132a","type":"debug","z":"ebfbbc58.6b5348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":160,"wires":[]},{"id":"6916f426.113694","type":"function","z":"bc62d8f7.176f1","name":"Estrai ID da TAG_UID","func":"var rfid = global.get(\"rfid\");\n\nvar results = [];\nvar searchField = \"tag_uid\";\nvar searchVal = msg.payload;\nfor (var i=0 ; i < rfid.length ; i++) {\n    if (rfid[i][searchField] == searchVal) {\n        results.push(rfid[i]);\n    }\n}\n\nmsg.payload = results[0].id;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["862eccb3.6bdb88"]]},{"id":"9b9d3ee1.30c428","type":"inject","z":"bc62d8f7.176f1","name":"","topic":"","payload":"AE34E1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":460,"wires":[["6916f426.113694"]]},{"id":"46cbb9f1.10e7e","type":"debug","z":"bc62d8f7.176f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":480,"wires":[]},{"id":"b7faa415.8635e","type":"comment","z":"bc62d8f7.176f1","name":"Per ogni RFID letto, estraiamo l'id e cerchiamo l'interazioe","info":"","x":230,"y":360,"wires":[]},{"id":"862eccb3.6bdb88","type":"function","z":"bc62d8f7.176f1","name":"Recupera interazione","func":"var interaction = global.get(\"interaction\");\n\nvar results = [];\nvar searchField = \"id_rfid\";\nvar searchVal = msg.payload;\nfor (var i=0 ; i < interaction.length ; i++) {\n    if (interaction[i][searchField] == searchVal) {\n        results.push(interaction[i]);\n    }\n}\n\nmsg.payload = results[0].object;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["d8f1529f.c7f6f8"]]},{"id":"56a6cddc.e29474","type":"mqtt out","z":"bc62d8f7.176f1","name":"","topic":"","qos":"","retain":"","broker":"9405750f.5bebe8","x":1290,"y":440,"wires":[]},{"id":"287506af.4ee642","type":"function","z":"bc62d8f7.176f1","name":"Genera topic e msg MQTT","func":"msg.topic = \"/\" + msg.payload.type;\nmsg.payload = msg.payload.id_ix;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":440,"wires":[["56a6cddc.e29474","46cbb9f1.10e7e"]]},{"id":"a3b38ebf.85b68","type":"comment","z":"bc62d8f7.176f1","name":"RECUPERO OGGETTI SECONDO TIPO INTERAZIONE","info":"","x":230,"y":620,"wires":[]},{"id":"b5c7522a.af8468","type":"mqtt in","z":"bc62d8f7.176f1","name":"","topic":"/multimedia","qos":"2","broker":"e82f49f7.535538","x":110,"y":660,"wires":[["2fc9a2ca.1c6f46"]]},{"id":"2fc9a2ca.1c6f46","type":"function","z":"bc62d8f7.176f1","name":"Estrai TIPO e TITOLO da ID","func":"var multimedia = global.get(\"multimedia\");\n\nvar results = [];\nvar searchField = \"id\";\nvar searchVal = parseInt(msg.payload);\nfor (var i=0 ; i < multimedia.length ; i++) {\n    if (multimedia[i][searchField] == searchVal) {\n        results.push(multimedia[i]);\n    }\n}\n\nmsg.payload = results;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":660,"wires":[["45136117.04f9"]]},{"id":"45a4a4b4.76ac1c","type":"debug","z":"bc62d8f7.176f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":692,"wires":[]},{"id":"f191ce1e.da8458","type":"mqtt out","z":"bc62d8f7.176f1","name":"","topic":"","qos":"","retain":"","broker":"e82f49f7.535538","x":1010,"y":732,"wires":[]},{"id":"45136117.04f9","type":"function","z":"bc62d8f7.176f1","name":"Genera topic e msg MQTT per VIDEO","func":"var tipo = msg.payload[0].tipo_media;\nvar titolo = msg.payload[0].titolo_media;\nmsg.topic = \"/multimedia_\" + tipo;\nmsg.payload = titolo;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["f191ce1e.da8458","45a4a4b4.76ac1c"]]},{"id":"85699249.c53068","type":"inject","z":"bc62d8f7.176f1","name":"","topic":"","payload":"34567B","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":540,"wires":[["6916f426.113694"]]},{"id":"774b35af.444c2c","type":"inject","z":"bc62d8f7.176f1","name":"","topic":"","payload":"FF540A","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":500,"wires":[["6916f426.113694"]]},{"id":"b7b928d6.01b1f","type":"mqtt in","z":"bc62d8f7.176f1","name":"","topic":"/neopixelspot","qos":"2","broker":"e82f49f7.535538","x":110,"y":712,"wires":[["581fbc6c.5e7c4c"]]},{"id":"581fbc6c.5e7c4c","type":"function","z":"bc62d8f7.176f1","name":"Estrai COLORE e IP da ID","func":"var neopixelspot = global.get(\"neopixelspot\");\n\nvar results = [];\nvar searchField = \"id\";\nvar searchVal = parseInt(msg.payload);\nfor (var i=0 ; i < neopixelspot.length ; i++) {\n    if (neopixelspot[i][searchField] == searchVal) {\n        results.push(neopixelspot[i]);\n    }\n}\n\nmsg.payload = results;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":712,"wires":[["e7e84112.6a55c"]]},{"id":"e7e84112.6a55c","type":"function","z":"bc62d8f7.176f1","name":"Genera topic e msg MQTT per NEOPIXELSPOT","func":"var color = msg.payload[0].colorRGBW;\nvar ip_spot = msg.payload[0].ip_indirizzo;\n\nglobal.set(\"neopixelspotRGBW\", ip_spot);\nmsg.payload= \"{\\\"ip\\\":\\\"\" + ip_spot + \"\\\",\\\"color\\\":\\\"\" + color + \"\\\"}\";\nmsg.topic = \"/neopixelspotRGBW\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":712,"wires":[["45a4a4b4.76ac1c","f191ce1e.da8458"]]},{"id":"88994745.90e9e8","type":"inject","z":"bc62d8f7.176f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":840,"wires":[["19e4d8d4.b695cf"]]},{"id":"19e4d8d4.b695cf","type":"function","z":"bc62d8f7.176f1","name":"Estrai COLORE e IP da ID","func":"var neopixelspot = global.get(\"neopixelspot\");\n\nmsg.payload = neopixelspot;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":840,"wires":[["f0999cda.3d424"]]},{"id":"f0999cda.3d424","type":"debug","z":"bc62d8f7.176f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":840,"wires":[]},{"id":"e0634cf6.b80af8","type":"mqtt in","z":"bc62d8f7.176f1","name":"","topic":"/bt_speaker","qos":"2","broker":"e82f49f7.535538","x":110,"y":772,"wires":[["e6f3d725.fe92b8"]]},{"id":"e6f3d725.fe92b8","type":"function","z":"bc62d8f7.176f1","name":"Estrai MAC da ID","func":"var bt_speaker = global.get(\"bt_speaker\");\n\nvar results = [];\nvar searchField = \"id\";\nvar searchVal = parseInt(msg.payload);\nfor (var i=0 ; i < bt_speaker.length ; i++) {\n    if (bt_speaker[i][searchField] == searchVal) {\n        results.push(bt_speaker[i]);\n    }\n}\n\nmsg.payload = results;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":290,"y":772,"wires":[["8bda19c3.0a303"]]},{"id":"8bda19c3.0a303","type":"function","z":"bc62d8f7.176f1","name":"Genera topic e msg MQTT per BT_SPEAKER","func":"var bt_mac = msg.payload[0].bt_mac;\nvar ip_spot = msg.payload[0].ip_indirizzo;\n\n//msg.payload= \"{\\\"mac\\\":\\\"\" + bt_mac + \"\\\"}\";\nmsg.payload = bt_mac;\nmsg.topic = \"/btaudio\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":772,"wires":[["f191ce1e.da8458","45a4a4b4.76ac1c"]]},{"id":"b8d37d5c.a5a808","type":"mqtt in","z":"bc62d8f7.176f1","name":"","topic":"/tag_uid","qos":"2","broker":"e82f49f7.535538","x":100,"y":412,"wires":[["6916f426.113694","df85d485.e888d"]]},{"id":"d8f1529f.c7f6f8","type":"splitter","z":"bc62d8f7.176f1","name":"","property":"payload","x":890,"y":440,"wires":[["46cbb9f1.10e7e","287506af.4ee642"]]},{"id":"2fcd3611.adb7f2","type":"debug","z":"dfb3a530.0ed868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":380,"wires":[]},{"id":"3f752bb7.ef0f94","type":"dsm","z":"dfb3a530.0ed868","name":"operating time","sm_config":"{\n    \"currentState\": \"stopped\",\n    \"states\": {\n        \"stopped\": {\n            \"0\": \"started\"\n        },\n        \"started\": {\n            \"inc\": \"counting\",\n            \"1\": \"stopped\"\n        },\n        \"counting\": {\n            \"inc\": \"counting\",\n            \"1\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"prev_time\": null,\n        \"time\": 0,\n        \"seconds\": 0,\n        \"interval\": 1,\n        \"interval_output\": true,\n        \"hms_format\": false\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.calc_time = function() {\",\n            \"   var now = Date.now();\",\n            \"   sm.data.time += now - sm.data.prev_time;\",\n            \"   sm.data.prev_time = now;\",\n            \"   sm.data.seconds = Math.round(sm.data.time / 1000);\",\n            \"};\",\n            \"sm.sec2hhmmss = function(sec) {\",\n                \"var t = {};\",\n                \"t.h = pad(Math.floor(sec / 3600));\",\n                \"sec %= 3600;\",\n                \"t.m = pad(Math.floor(sec / 60));\",\n                \"t.s = pad(sec % 60);\",\n                \"return t.h+':'+t.m+':'+t.s;\",\n            \"};\"\n        ],\n        \"0\": [\n            \"if (sm.currentState === 'started') {\",\n            \"   sm.data.prev_time = Date.now();\",\n            \"   resume('inc', msg);\",\n            \"}\",\n            \"output = false;\"\n        ],\n        \"inc\": [\n            \"timeout.interval = setTimeout(function() {\",\n            \"   sm.calc_time();\",\n            \"   msg.data = sm.data;\",\n            \"   if (sm.data.interval_output) {\",\n            \"       msg.payload = sm.data.hms_format ? sm.sec2hhmmss(sm.data.seconds): sm.data.seconds;\",\n            \"       /*node.send(msg);*/\",\n            \"   }\",\n            \"   resume('inc', msg);\",\n            \"}, sm.data.interval*1000);\",\n            \"output = false;\"\n        ],\n        \"1\": [\n            \"clearTimeout(timeout.interval);\",\n            \"sm.calc_time();\",\n            \"msg.payload = sm.data.hms_format ? sm.sec2hhmmss(sm.data.seconds): sm.data.seconds;\"\n        ],\n        \"reset\": [\n            \"sm.data.time = 0;\",\n            \"sm.data.seconds = 0;\"\n        ],\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'counting' ? 'green' : 'grey';\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"'time ' + (sm.data.hms_format ? sm.sec2hhmmss(sm.data.seconds): sm.data.seconds);\"\n            }\n        }\n    }\n}\n","x":410,"y":380,"wires":[["2fcd3611.adb7f2","df9aa132.a042e","d25645ed.43d3f8"]]},{"id":"1943dd52.1ac223","type":"function","z":"dfb3a530.0ed868","name":"Payload -> topic","func":"msg.topic = String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":380,"wires":[["3f752bb7.ef0f94"]]},{"id":"df9aa132.a042e","type":"function","z":"dfb3a530.0ed868","name":"RESET","func":"msg.topic = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["3f752bb7.ef0f94"]]},{"id":"b7322b1.ad949d8","type":"comment","z":"dfb3a530.0ed868","name":"SHUTDOWN ","info":"If pressed for more than 5 secs and less than 10","x":130,"y":340,"wires":[]},{"id":"d25645ed.43d3f8","type":"switch","z":"dfb3a530.0ed868","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":420,"wires":[["22ce6750.56ee2"]]},{"id":"599ad15d.d5fdb8","type":"rpi-gpio out","z":"dfb3a530.0ed868","name":"green","pin":"5","set":"","level":"0","freq":"10","out":"out","x":410,"y":680,"wires":[]},{"id":"7e34120c.d766d4","type":"rpi-gpio out","z":"dfb3a530.0ed868","name":"blue","pin":"3","set":"","level":"0","freq":"10","out":"out","x":410,"y":720,"wires":[]},{"id":"cf8a5120.2a71d8","type":"rpi-gpio out","z":"dfb3a530.0ed868","name":"red","pin":"7","set":"","level":"0","freq":"10","out":"out","x":410,"y":760,"wires":[]},{"id":"58082b8e.1e2f84","type":"inject","z":"dfb3a530.0ed868","name":"Spegni","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["599ad15d.d5fdb8","7e34120c.d766d4","cf8a5120.2a71d8"]]},{"id":"f853ab16.3e60a8","type":"inject","z":"dfb3a530.0ed868","name":"blu","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["cf8a5120.2a71d8"]]},{"id":"64ac2f24.c08f98","type":"inject","z":"dfb3a530.0ed868","name":" Verde","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[["599ad15d.d5fdb8"]]},{"id":"f28518e6.5e85c","type":"inject","z":"dfb3a530.0ed868","name":"Rosso","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["7e34120c.d766d4"]]},{"id":"b875446a.0c40d","type":"rpi-gpio out","z":"6fe7e7cb.3d1ba","name":"red","pin":"3","set":true,"level":"1","freq":"100","out":"out","x":1050,"y":340,"wires":[]},{"id":"39536d0a.ae2172","type":"rpi-gpio out","z":"6fe7e7cb.3d1ba","name":"green","pin":"5","set":true,"level":"1","freq":"","out":"out","x":1050,"y":380,"wires":[]},{"id":"b6ff793b.5cab7","type":"rpi-gpio out","z":"6fe7e7cb.3d1ba","name":"blue","pin":"7","set":true,"level":"1","freq":"","out":"out","x":1050,"y":420,"wires":[]},{"id":"352d2e8.3d00a52","type":"switch","z":"6fe7e7cb.3d1ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"blank","vt":"str"},{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"blue","vt":"str"},{"t":"eq","v":"cyan","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":690,"y":380,"wires":[["a7ccaa1c.e2d13"],["d26e743a.be608"],["75e41646.c7eab"],["87845ca8.65d9f"],["75e41646.c7eab","87845ca8.65d9f"]]},{"id":"a7ccaa1c.e2d13","type":"function","z":"6fe7e7cb.3d1ba","name":"OFF","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["b875446a.0c40d","39536d0a.ae2172","b6ff793b.5cab7"]]},{"id":"d26e743a.be608","type":"function","z":"6fe7e7cb.3d1ba","name":"RED","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["b875446a.0c40d"]]},{"id":"75e41646.c7eab","type":"function","z":"6fe7e7cb.3d1ba","name":"GREEN","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":400,"wires":[["39536d0a.ae2172"]]},{"id":"87845ca8.65d9f","type":"function","z":"6fe7e7cb.3d1ba","name":"BLUE","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["b6ff793b.5cab7"]]},{"id":"10e3f52a.d85613","type":"function","z":"6fe7e7cb.3d1ba","name":"PIPE","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["352d2e8.3d00a52"]]},{"id":"3804d32c.a6ac8c","type":"function","z":"6fe7e7cb.3d1ba","name":"PIPE","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":600,"wires":[["352d2e8.3d00a52"]]},{"id":"68d38384.038124","type":"inject","z":"723438d6.bfcdf8","name":"FC:A8:9A:3E:E2:65","topic":"","payload":"FC:A8:9A:3E:E2:65","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["96bebb26.f0fda"]]},{"id":"17aaa2f7.4c00f5","type":"delay","z":"dfb3a530.0ed868","name":"wait 1 sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":460,"wires":[["a01f325c.29228"]]},{"id":"e7688a2b.084b4","type":"mqtt out","z":"dfb3a530.0ed868","name":"","topic":"/neopixel","qos":"","retain":"","broker":"87027f97.16bdb","x":1220,"y":420,"wires":[]},{"id":"3952dd2e.d875fa","type":"function","z":"dfb3a530.0ed868","name":"BLUE","func":"msg.payload = \"blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":500,"wires":[["3125e8af.74c5a8","e7688a2b.084b4"]]},{"id":"44b96084.db0478","type":"function","z":"dfb3a530.0ed868","name":"GREEN","func":"msg.payload = \"green\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":580,"wires":[["e7688a2b.084b4","481dff03.94a17"]]},{"id":"22ce6750.56ee2","type":"function","z":"dfb3a530.0ed868","name":"RED","func":"msg.payload = \"red\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":420,"wires":[["17aaa2f7.4c00f5","e7688a2b.084b4"]]},{"id":"a01f325c.29228","type":"function","z":"dfb3a530.0ed868","name":"OFF","func":"msg.payload = \"blank\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["e7688a2b.084b4","a2350243.524df8"]]},{"id":"e3dac159.1ec288","type":"function","z":"dfb3a530.0ed868","name":"OFF","func":"msg.payload = \"blank\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":540,"wires":[["e7688a2b.084b4","19582927.37fdd7"]]},{"id":"3125e8af.74c5a8","type":"delay","z":"dfb3a530.0ed868","name":"wait 1 sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":540,"wires":[["e3dac159.1ec288"]]},{"id":"a2350243.524df8","type":"delay","z":"dfb3a530.0ed868","name":"wait 1/2 sec","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":500,"wires":[["3952dd2e.d875fa"]]},{"id":"19582927.37fdd7","type":"delay","z":"dfb3a530.0ed868","name":"wait 1/2 sec","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":580,"wires":[["44b96084.db0478"]]},{"id":"481dff03.94a17","type":"exec","z":"dfb3a530.0ed868","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":1260,"y":580,"wires":[[],[],[]]},{"id":"3ec106f1.f9bc5a","type":"inject","z":"c5535a96.997cd8","name":"Associa cassa Bluetooth (inserire MAC)","topic":"","payload":"6C:5C:3D:31:09:CA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["311f64f6.9b49fc"]]},{"id":"311f64f6.9b49fc","type":"exec","z":"c5535a96.997cd8","command":"/home/pi/scripts/bluetooth/bt_04_add_speaker.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BT Connection <MAC>","x":290,"y":220,"wires":[["898bc859.f0cd2","3362247c.8a3de4"],["898bc859.f0cd2","3362247c.8a3de4"],["898bc859.f0cd2","3362247c.8a3de4"]]},{"id":"898bc859.f0cd2","type":"debug","z":"c5535a96.997cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":240,"wires":[]},{"id":"3362247c.8a3de4","type":"exec","z":"c5535a96.997cd8","command":"/home/pi/scripts/bluetooth/bt_05_set_a2dp_profile.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Forza A2DP","x":630,"y":180,"wires":[["808df9cf.963c88"],[],[]]},{"id":"818921ea.13633","type":"inject","z":"c5535a96.997cd8","name":"Forza A2DP","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":120,"wires":[["3362247c.8a3de4"]]},{"id":"249387b1.62bca","type":"comment","z":"c5535a96.997cd8","name":"NUOVA CASSA BLUETOOTH","info":"","x":140,"y":60,"wires":[]},{"id":"a6b9d3a5.74c678","type":"comment","z":"c5535a96.997cd8","name":"AGGIORNAMENTO CONFIGURAZIONE","info":"","x":150,"y":880,"wires":[]},{"id":"58ae6e3b.39e2a","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/updateConfig","qos":"","retain":"","broker":"87027f97.16bdb","x":460,"y":920,"wires":[]},{"id":"1d5f11b9.0f9bb6","type":"inject","z":"c5535a96.997cd8","name":"Update Configurazione","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["58ae6e3b.39e2a"]]},{"id":"997b7f38.f3b0e","type":"mqtt in","z":"c5535a96.997cd8","name":"","topic":"/setA2DP","qos":"2","datatype":"auto","broker":"87027f97.16bdb","x":460,"y":160,"wires":[["3362247c.8a3de4"]]},{"id":"624a2508.f6dd44","type":"http in","z":"c5535a96.997cd8","name":"","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":90,"y":540,"wires":[["a14b5a88.58a848"]]},{"id":"a14b5a88.58a848","type":"template","z":"c5535a96.997cd8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{{ payload.output }}","output":"str","x":610,"y":540,"wires":[["f79e8d27.fb0d08"]]},{"id":"f79e8d27.fb0d08","type":"http response","z":"c5535a96.997cd8","name":"","statusCode":"","headers":{},"x":810,"y":540,"wires":[]},{"id":"a43baf6b.97b52","type":"http in","z":"c5535a96.997cd8","name":"","url":"/bt","method":"post","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["7f661872.bdefa"]]},{"id":"7e2e1b36.5fd764","type":"debug","z":"c5535a96.997cd8","name":"valore","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":280,"wires":[]},{"id":"88dfac13.314a9","type":"function","z":"c5535a96.997cd8","name":"MAC address","func":"var newMsg = { payload: msg.payload.bt };\nreturn newMsg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["7e2e1b36.5fd764","311f64f6.9b49fc"]]},{"id":"7f661872.bdefa","type":"function","z":"c5535a96.997cd8","name":"Output","func":"var password = global.get(\"password_reader\");\n\nif (msg.payload.password ==password){\n    msg.payload.output = \"Connecting to: \"+msg.payload.bt;\n    msg.payload.esito = 1;\n     \n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":380,"wires":[["1c3a5871.d644c"]]},{"id":"1c3a5871.d644c","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":380,"wires":[["88dfac13.314a9","a14b5a88.58a848","c7680f70.4cc1c"],[]]},{"id":"d43ef5c3.afdb88","type":"http in","z":"c5535a96.997cd8","name":"","url":"/update","method":"post","upload":false,"swaggerDoc":"","x":90,"y":640,"wires":[["7fe3df93.ed7a88"]]},{"id":"7fe3df93.ed7a88","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":640,"wires":[["accfed01.b2e2c"]]},{"id":"accfed01.b2e2c","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":640,"wires":[["58ae6e3b.39e2a","a14b5a88.58a848"],[]]},{"id":"27e5bea3.f6003a","type":"http in","z":"c5535a96.997cd8","name":"","url":"/A2DP","method":"post","upload":false,"swaggerDoc":"","x":90,"y":680,"wires":[["e8fed022.dc2fd8"]]},{"id":"42c0c977.3a2f18","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/setA2DP","qos":"","retain":"","broker":"87027f97.16bdb","x":740,"y":680,"wires":[]},{"id":"e8fed022.dc2fd8","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":680,"wires":[["a14b5a88.58a848","24f02e75.76ba1a"]]},{"id":"6105a4d1.7fb70c","type":"http in","z":"c5535a96.997cd8","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":80,"y":720,"wires":[["8f9294b8.3c896"]]},{"id":"98158142.117158","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/multimedia_audio","qos":"","retain":"","broker":"87027f97.16bdb","x":770,"y":720,"wires":[]},{"id":"8f9294b8.3c896","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":720,"wires":[["86d1cafc.ac091"]]},{"id":"989e6561.0884","type":"function","z":"c5535a96.997cd8","name":"Audiotest","func":"msg.payload = \"test_480.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":720,"wires":[["98158142.117158","a14b5a88.58a848"]]},{"id":"23ad3c1f.09c4b4","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":760,"wires":[["16f6bb5.87a5545"]]},{"id":"29f933e3.fc407c","type":"http in","z":"c5535a96.997cd8","name":"","url":"/blue","method":"post","upload":false,"swaggerDoc":"","x":80,"y":760,"wires":[["23ad3c1f.09c4b4"]]},{"id":"faee37b6.978688","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/neopixel","qos":"","retain":"","broker":"87027f97.16bdb","x":740,"y":760,"wires":[]},{"id":"ef5eb3a9.e9e978","type":"function","z":"c5535a96.997cd8","name":"blue","func":"msg.payload = \"blue\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":760,"wires":[["faee37b6.978688","a14b5a88.58a848"]]},{"id":"2bff9b33.39bb4c","type":"comment","z":"1308c03.6ec99c","name":"COMPILAZIONE MANUALE","info":"","x":420,"y":120,"wires":[]},{"id":"955c8e92.e1bb58","type":"comment","z":"1308c03.6ec99c","name":"CARICAMENTO DEFINIZIONI AD OGNI AVVIO","info":"","x":220,"y":460,"wires":[]},{"id":"d38116c4.f9ac","type":"inject","z":"1308c03.6ec99c","name":"On Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["168d399b.9d872e","5504e910.33b6c"]]},{"id":"168d399b.9d872e","type":"function","z":"1308c03.6ec99c","name":"Definizione oggetti","func":"var oggetti = [\n    \"rfid\",\n    \"multimedia\",\n    \"neopixelspot\",\n    \"bt_speaker\",\n    \"tradfri\",\n    \"interaction\"\n];\nflow.set(\"oggetti\", oggetti);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["b662fe88.c2d38"]]},{"id":"5504e910.33b6c","type":"function","z":"1308c03.6ec99c","name":"red","func":"msg.payload = \"red\";\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["cd926c93.717c58"]]},{"id":"b662fe88.c2d38","type":"function","z":"1308c03.6ec99c","name":"Definisci path salvataggio/recupero file json","func":"//inserire i percorsi con slash / finale!\nvar json_path = \"/home/pi/scripts/json/\";\nvar media_path = \"/home/pi/media/\";\nglobal.set(\"json_path\", json_path);\nglobal.set(\"media_path\", media_path);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["14bc7254.38464e","1ecc5c59.19f4f4"]]},{"id":"c9cc3220.d0db1","type":"start-up-trigger","z":"1308c03.6ec99c","x":140,"y":240,"wires":[["168d399b.9d872e","5504e910.33b6c","f9539861.e13138"]]},{"id":"cd926c93.717c58","type":"mqtt out","z":"1308c03.6ec99c","name":"","topic":"/neopixel","qos":"","retain":"","broker":"719b54c3.b6c9bc","x":500,"y":320,"wires":[]},{"id":"14bc7254.38464e","type":"delay","z":"1308c03.6ec99c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":400,"wires":[["f84c63a2.c6dde"]]},{"id":"1ecc5c59.19f4f4","type":"exec","z":"1308c03.6ec99c","command":"hostname -I | awk '{ print $1 }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Recupera indirizzo IP","x":800,"y":200,"wires":[["5758066.f068178"],[],[]]},{"id":"f84c63a2.c6dde","type":"function","z":"1308c03.6ec99c","name":"Def. nome file configurazione","func":"var file_name = \"basic_conf.json\";\nvar json_path = global.get(\"json_path\") || \"/tmp\";\nmsg.filename = json_path + file_name;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["ba782cfa.2cdc2","6ec63984.7c7148"]]},{"id":"5758066.f068178","type":"function","z":"1308c03.6ec99c","name":"Salva indirizzo IP","func":"var ip_address = msg.payload;\nip_address = ip_address.replace(/\\s+/g, ' ').trim();\nglobal.set(\"ip_address\", ip_address);\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":180,"wires":[["8126d419.e191a8"]]},{"id":"ba782cfa.2cdc2","type":"file in","z":"1308c03.6ec99c","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":730,"y":520,"wires":[["366fa81a.688dd"]]},{"id":"6ec63984.7c7148","type":"delay","z":"1308c03.6ec99c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":600,"wires":[["d9347e35.ad4c8","1bba798a.867b6e"]]},{"id":"366fa81a.688dd","type":"json","z":"1308c03.6ec99c","name":"","property":"payload","action":"","pretty":true,"x":850,"y":520,"wires":[["9e019f0f.4e2a98","986193eb.786fb8","d7741928.78dd4","cc8ae2ea.fbff2"]]},{"id":"d9347e35.ad4c8","type":"function","z":"1308c03.6ec99c","name":"Recupera tutte le configurazioni e se presenti caricale in memoria","func":"var oggetti = flow.get(\"oggetti\") || \"\";\nmsg.payload = oggetti;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":680,"wires":[["1029874d.8a92f9"]]},{"id":"1bba798a.867b6e","type":"delay","z":"1308c03.6ec99c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":600,"wires":[["e4293aae.a8f038"]]},{"id":"9e019f0f.4e2a98","type":"debug","z":"1308c03.6ec99c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":520,"wires":[]},{"id":"986193eb.786fb8","type":"function","z":"1308c03.6ec99c","name":"Definisci remote url","func":"var remote_url = msg.payload[0].server_remoto_configurazione;\nglobal.set(\"remote_url\", remote_url);\nmsg.payload = remote_url;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":500,"wires":[["9e019f0f.4e2a98"]]},{"id":"d7741928.78dd4","type":"function","z":"1308c03.6ec99c","name":"Definisci Casa","func":"var casamuseo_id = msg.payload[0].casamuseo_id;\nglobal.set(\"casamuseo_id\", casamuseo_id);\nmsg.payload = casamuseo_id;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":540,"wires":[["9e019f0f.4e2a98"]]},{"id":"1029874d.8a92f9","type":"splitter","z":"1308c03.6ec99c","name":"","property":"payload","x":830,"y":680,"wires":[["6db09b8d.7796c4"]]},{"id":"e4293aae.a8f038","type":"function","z":"1308c03.6ec99c","name":"off","func":"msg.payload = \"blank\";\nreturn msg;\n","outputs":1,"noerr":0,"x":870,"y":600,"wires":[["e28c29bf.ab0908"]]},{"id":"6db09b8d.7796c4","type":"function","z":"1308c03.6ec99c","name":"Def. nome file","func":"var file_name = msg.payload;\nvar json_path = global.get(\"json_path\") || \"/tmp\";\nmsg.filename = json_path + file_name + \".json\";\nmsg.oggetto = file_name;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":680,"wires":[["7a32c914.62931"]]},{"id":"e28c29bf.ab0908","type":"mqtt out","z":"1308c03.6ec99c","name":"","topic":"/neopixel","qos":"","retain":"","broker":"719b54c3.b6c9bc","x":1000,"y":600,"wires":[]},{"id":"7a32c914.62931","type":"file in","z":"1308c03.6ec99c","name":"Open file","filename":"","format":"utf8","chunk":false,"sendError":false,"x":660,"y":720,"wires":[["76fc5343.f576dc"]]},{"id":"76fc5343.f576dc","type":"switch","z":"1308c03.6ec99c","name":"","property":"error","propertyType":"msg","rules":[{"t":"cont","v":"Error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":720,"wires":[["69e501bc.713ca8"],["948b665a.b81128"]]},{"id":"69e501bc.713ca8","type":"debug","z":"1308c03.6ec99c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","x":1000,"y":720,"wires":[]},{"id":"948b665a.b81128","type":"json","z":"1308c03.6ec99c","name":"","property":"payload","action":"","pretty":false,"x":650,"y":780,"wires":[["f1876c96.23aa3"]]},{"id":"f1876c96.23aa3","type":"function","z":"1308c03.6ec99c","name":"Estrai oggetto","func":"var oggetto = msg.oggetto;\nvar content = eval(\"msg.payload[0].\" + oggetto);\n//var content = msg.payload[0].bt_speaker;\nmsg.payload = content;\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":780,"wires":[["a80646c7.421268","63225a24.32d5ec"]]},{"id":"a80646c7.421268","type":"debug","z":"1308c03.6ec99c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":780,"wires":[]},{"id":"63225a24.32d5ec","type":"function","z":"1308c03.6ec99c","name":"Carica in memoria tutte le definizioni","func":"var oggetto = msg.oggetto;\nvar payload = msg.payload;\nglobal.set(oggetto, payload);\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":820,"wires":[["f718bd00.262b88"]]},{"id":"d6d02298.1427d8","type":"http request","z":"1308c03.6ec99c","name":"GET","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":1050,"y":1000,"wires":[["11185fab.424ec"]]},{"id":"8ab4968.53437e8","type":"debug","z":"1308c03.6ec99c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1100,"wires":[]},{"id":"11185fab.424ec","type":"json","z":"1308c03.6ec99c","name":"","property":"payload","action":"","pretty":true,"x":730,"y":1060,"wires":[["8ab4968.53437e8","dbc6a003.b3f54"]]},{"id":"3efb176d.8f0dd8","type":"file","z":"1308c03.6ec99c","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1230,"y":1060,"wires":[["eb58db92.83dec8"]]},{"id":"dbc6a003.b3f54","type":"function","z":"1308c03.6ec99c","name":"Def. nome file","func":"var file_name = msg.oggetto;\nvar json_path = global.get(\"json_path\") || \"/tmp\";\nmsg.filename = json_path + file_name + \".json\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1060,"wires":[["f8a4c32.4f1544"]]},{"id":"2e7dc567.769792","type":"comment","z":"1308c03.6ec99c","name":"AGGIORNAMENTO CONFIGURAZIONI (DOWNLOAD DA SITO, TRIGGER RFID)","info":"definisci il path da dove salvare i file e scaricali tutti\n","x":340,"y":920,"wires":[]},{"id":"5375f6d2.e26508","type":"inject","z":"1308c03.6ec99c","name":"Update on Request (scan RFID)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1000,"wires":[["b33d6ef7.7491c","4325cd8b.805a6c"]]},{"id":"b33d6ef7.7491c","type":"function","z":"1308c03.6ec99c","name":"Recupera la definizione degli oggetti ","func":"var oggetti = flow.get(\"oggetti\") || \"\";\nmsg.payload = oggetti;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1000,"wires":[["34b1e2d5.c8bede"]]},{"id":"a6d43303.fa4ea8","type":"function","z":"1308c03.6ec99c","name":"Definisci URL","func":"//Esempio URL: http://lab.z14.it/giano/json.php?m=2&t=rfid\nvar remote_url = global.get(\"remote_url\");\nvar museo = global.get(\"casamuseo_id\");\nvar oggetto = msg.payload;\nvar url = remote_url + \"/json.php?m=\" + museo + \"&t=\" + oggetto;\n\nmsg.url = url;\nmsg.oggetto = oggetto;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1000,"wires":[["d6d02298.1427d8"]]},{"id":"874f0ae8.5ae5","type":"comment","z":"1308c03.6ec99c","name":"DOWNLOAD FILE MULTIMEDIALI ","info":"I contenuti vengono salvati sulla cartella predefinita e \nsuddivisi per tipo (audio / video / altro)","x":200,"y":1120,"wires":[]},{"id":"5fc3ec21.05536c","type":"function","z":"1308c03.6ec99c","name":"Def. nome file","func":"var json_path = global.get(\"json_path\") || \"/tmp\";\nmsg.filename = json_path + \"multimedia.json\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1240,"wires":[["92c414cf.0888f"]]},{"id":"92c414cf.0888f","type":"file in","z":"1308c03.6ec99c","name":"Open file","filename":"","format":"utf8","chunk":false,"sendError":false,"x":620,"y":1240,"wires":[["4e2e981f.16ede8"]]},{"id":"4e2e981f.16ede8","type":"switch","z":"1308c03.6ec99c","name":"","property":"error","propertyType":"msg","rules":[{"t":"cont","v":"Error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1240,"wires":[[],["49d1b68a.0230a"]]},{"id":"49d1b68a.0230a","type":"json","z":"1308c03.6ec99c","name":"","property":"payload","action":"","pretty":false,"x":870,"y":1240,"wires":[["374dc8b1.ceb9b8"]]},{"id":"374dc8b1.ceb9b8","type":"function","z":"1308c03.6ec99c","name":"Estrai oggetto","func":"var content = msg.payload[0].multimedia;\n//var content = msg.payload[0].bt_speaker;\nmsg.payload = content;\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":1300,"wires":[["edcedd3b.e5a96"]]},{"id":"19ba60ae.f0f11f","type":"inject","z":"1308c03.6ec99c","name":"Dopo download di tutte le definizioni","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1240,"wires":[["5fc3ec21.05536c"]]},{"id":"f0e5ee90.8f9c88","type":"debug","z":"1308c03.6ec99c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":1240,"wires":[]},{"id":"ec3d4f10.bd5118","type":"function","z":"1308c03.6ec99c","name":"Definisci URL, Local Path e Nome File","func":"//Esempio URL: http://lab.z14.it/giano/json.php?m=2&t=rfid\nvar media_path = global.get(\"media_path\") || \"/tmp/\";\n\nvar url = msg.payload.path_media;\nvar tipo = msg.payload.tipo_media;\nvar titolo = msg.payload.titolo_media;\nvar filename = media_path + tipo + \"/\" + titolo;\n\nmsg.payload = \"-O \" + filename + \" \" + url;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1300,"wires":[["f0e5ee90.8f9c88","9aa4e448.6712a8"]]},{"id":"22fa947c.fe5574","type":"exec","z":"1308c03.6ec99c","command":"wget","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1310,"y":1280,"wires":[[],["74e1e707.6cd08"],[]]},{"id":"74e1e707.6cd08","type":"debug","z":"1308c03.6ec99c","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1450,"y":1280,"wires":[]},{"id":"f8a4c32.4f1544","type":"delay","z":"1308c03.6ec99c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":1060,"wires":[["3efb176d.8f0dd8"]]},{"id":"4325cd8b.805a6c","type":"function","z":"1308c03.6ec99c","name":"red","func":"msg.payload = \"red\";\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":960,"wires":[["4dea986e.1bcac8"]]},{"id":"4dea986e.1bcac8","type":"mqtt out","z":"1308c03.6ec99c","name":"","topic":"/neopixel","qos":"","retain":"","broker":"c4a6e712.82cbd8","x":560,"y":960,"wires":[]},{"id":"2a45d277.bed8b6","type":"delay","z":"1308c03.6ec99c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":1160,"wires":[["5fc3ec21.05536c"]]},{"id":"9aa4e448.6712a8","type":"delay","z":"1308c03.6ec99c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":1300,"wires":[["22fa947c.fe5574"]]},{"id":"34b1e2d5.c8bede","type":"splitter","z":"1308c03.6ec99c","name":"","property":"payload","x":750,"y":1000,"wires":[["a6d43303.fa4ea8"]]},{"id":"edcedd3b.e5a96","type":"splitter","z":"1308c03.6ec99c","name":"","property":"payload","x":630,"y":1300,"wires":[["ec3d4f10.bd5118"]]},{"id":"6d2059c4.4d6b3","type":"mqtt in","z":"1308c03.6ec99c","name":"","topic":"/updateConfig","qos":"2","broker":"f33080f7.2ea6f","x":130,"y":960,"wires":[["4325cd8b.805a6c","b33d6ef7.7491c"]]},{"id":"f9539861.e13138","type":"fs-file-lister","z":"1308c03.6ec99c","name":"Verifica se presente basic_conf.json su /boot","start":"/boot","pattern":"basic_conf.json","path":true,"single":false,"depth":0,"stat":false,"x":470,"y":260,"wires":[["70e47281.943614","f2c85836.123308","f8070b74.644d"]]},{"id":"70e47281.943614","type":"exec","z":"1308c03.6ec99c","command":"/home/pi/scripts/change_conf_boot.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":850,"y":260,"wires":[[],[],[]]},{"id":"24c82dcb.a598c2","type":"comment","z":"1308c03.6ec99c","name":"CARICAMENTO CONFIGURAZIONI BASE","info":"","x":200,"y":60,"wires":[]},{"id":"f2c85836.123308","type":"function","z":"1308c03.6ec99c","name":"red","func":"msg.payload = \"red\";\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["d4ab656b.3a49c"]]},{"id":"d4ab656b.3a49c","type":"mqtt out","z":"1308c03.6ec99c","name":"","topic":"/neopixel","qos":"","retain":"","broker":"719b54c3.b6c9bc","x":940,"y":300,"wires":[]},{"id":"f8070b74.644d","type":"debug","z":"1308c03.6ec99c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":340,"wires":[]},{"id":"7a00ef42.c248b","type":"mqtt out","z":"1308c03.6ec99c","name":"","topic":"/neopixel","qos":"","retain":"","broker":"719b54c3.b6c9bc","x":1440,"y":600,"wires":[]},{"id":"28a324eb.b25cac","type":"function","z":"1308c03.6ec99c","name":"green","func":"msg.payload = \"green\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1310,"y":600,"wires":[["7a00ef42.c248b"]]},{"id":"f718bd00.262b88","type":"delay","z":"1308c03.6ec99c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":600,"wires":[["28a324eb.b25cac"]]},{"id":"619c347b.12088c","type":"mqtt in","z":"1308c03.6ec99c","name":"","topic":"/ini","qos":"2","datatype":"auto","broker":"87027f97.16bdb","x":140,"y":340,"wires":[["168d399b.9d872e","5504e910.33b6c"]]},{"id":"eb58db92.83dec8","type":"mqtt out","z":"1308c03.6ec99c","name":"","topic":"/ini","qos":"","retain":"","broker":"87027f97.16bdb","x":1370,"y":1060,"wires":[]},{"id":"4ddac6f4.2b754","type":"ui_template","z":"ebfbbc58.6b5348","group":"f2b9e5a8.403728","name":"video_1","order":4,"width":"1","height":"1","format":"<style>\n.fullscreen-video {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 10000 !important;\n    \n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #000000 !important;\n    border: 1px solid #000000;\n    left: 0 !important;\n}\n\n#logo {\n    position: fixed !important;\n    top: 0 !important;\n    left: 0 !important;\n    \n    width: 100% !important;\n    height: 100% !important;\n    z-index: 9999 !important;\n    background-color: #000000 !important;\n    background-image: url(\"http://{{msg.ip_device}}/media/logo.png\") !important;\n    background-repeat: no-repeat !important;\n    background-position: center !important;\n    background-size: 25% !important;\n}\n\n.nr-dashboard-cardcontainer {\n    width:100% !important;\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    width: 10000px !important;\n    background-color: #000000 !important;\n}\n\n</style>\n\n<div id=\"logo\">\n        \n</div>\n\n\n<video \n  id=\"vid\"\n  onClick=\"document.getElementById('vid').play()\" \n  class=\"fullscreen-video\" \n  muted playsinline autoplay controls \n  ng-if=\"msg.payload.show\">\n  <source src=\"http://{{msg.payload.ip}}/media/video/{{msg.payload.video_name}}\" type=\"video/mp4\">\n</video>\n\n<script>\n   document.getElementById(\"vid\").play(); \n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":360,"wires":[[]]},{"id":"e2971541.fd474","type":"http in","z":"c5535a96.997cd8","name":"","url":"/utility","method":"get","upload":false,"swaggerDoc":"","x":80,"y":840,"wires":[["bda70cdc.dd8a3"]]},{"id":"bda70cdc.dd8a3","type":"template","z":"c5535a96.997cd8","name":"utility page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Utility page</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"utility\",\"ws/utility\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"helvetica\">\n        <h1>Utility Area</h1>\n        <div id=\"messages\"></div>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","output":"str","x":270,"y":840,"wires":[["3b41b2ab.abf85e"]]},{"id":"3b41b2ab.abf85e","type":"http response","z":"c5535a96.997cd8","name":"","statusCode":"","headers":{},"x":410,"y":840,"wires":[]},{"id":"7fced74b.0a012","type":"websocket out","z":"bc62d8f7.176f1","name":"","server":"9a13e131.183808","client":"","x":1110,"y":260,"wires":[]},{"id":"b399655a.21487","type":"mqtt in","z":"1308c03.6ec99c","name":"","topic":"/getfiles","qos":"2","datatype":"auto","broker":"87027f97.16bdb","x":110,"y":1200,"wires":[["5fc3ec21.05536c"]]},{"id":"5ce61239.9ee7d4","type":"http in","z":"c5535a96.997cd8","name":"","url":"/getfiles","method":"post","upload":false,"swaggerDoc":"","x":90,"y":800,"wires":[["e1d54415.4b17"]]},{"id":"e1d54415.4b17","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":800,"wires":[["8a3165e8.e97e6"]]},{"id":"603ce5c5.4f45fc","type":"function","z":"c5535a96.997cd8","name":"red","func":"msg.payload = \"red\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":800,"wires":[["ea6a1a37.dfdd28","faee37b6.978688"]]},{"id":"ea6a1a37.dfdd28","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/getfiles","qos":"","retain":"","broker":"87027f97.16bdb","x":740,"y":800,"wires":[]},{"id":"5b476811.1a0788","type":"inject","z":"dfb3a530.0ed868","name":"Spegni","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":460,"wires":[["22ce6750.56ee2"]]},{"id":"cc8ae2ea.fbff2","type":"function","z":"1308c03.6ec99c","name":"Password operativa","func":"var password_reader = msg.payload[0].password_reader;\nglobal.set(\"password_reader\", password_reader);\nmsg.payload = password_reader;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":460,"wires":[["9e019f0f.4e2a98"]]},{"id":"24f02e75.76ba1a","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":680,"wires":[["42c0c977.3a2f18","a14b5a88.58a848"],[]]},{"id":"86d1cafc.ac091","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":720,"wires":[["989e6561.0884","a14b5a88.58a848"],[]]},{"id":"16f6bb5.87a5545","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":760,"wires":[["ef5eb3a9.e9e978","a14b5a88.58a848"],[]]},{"id":"8a3165e8.e97e6","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":800,"wires":[["603ce5c5.4f45fc","a14b5a88.58a848"],[]]},{"id":"c7680f70.4cc1c","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/btaudio","qos":"","retain":"","broker":"87027f97.16bdb","x":720,"y":380,"wires":[]},{"id":"808df9cf.963c88","type":"debug","z":"c5535a96.997cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":160,"wires":[]},{"id":"c803cdc.9e3c53","type":"exec","z":"ebfbbc58.6b5348","command":"/usr/bin/mpg321","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Play","x":890,"y":60,"wires":[["73b72894.04d608","c042074c.b88e18"],[],["73b72894.04d608"]]},{"id":"73b72894.04d608","type":"mqtt out","z":"ebfbbc58.6b5348","name":"","topic":"/stopall","qos":"","retain":"","broker":"2ae6ba29.239db6","x":1060,"y":60,"wires":[]},{"id":"4417043b.4c1d2c","type":"function","z":"ebfbbc58.6b5348","name":"Costruisci path","func":"var media_path = global.get(\"media_path\") || \"/tmp/\";\nvar path = media_path + \"audio/\";\nvar video = msg.payload.video_name;\nvar audio = video.replace(\".mp4\", \".mp3\")\n\nmsg.payload = path + audio;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["c803cdc.9e3c53","3328b6b4.bd132a"]]},{"id":"82f26682.b1e028","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":420,"wires":[["55bf45e1.1dee8c","a14b5a88.58a848"],[]]},{"id":"388e81bd.5d08c6","type":"function","z":"c5535a96.997cd8","name":"Output","func":"var password = global.get(\"password_reader\");\n\nif (msg.payload.password ==password){\n    msg.payload.output = \"Connecting to: \"+msg.payload.rfid;\n    msg.payload.esito = 1;\n     \n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["82f26682.b1e028"]]},{"id":"9b35665e.cebab8","type":"http in","z":"c5535a96.997cd8","name":"","url":"/rfid","method":"post","upload":false,"swaggerDoc":"","x":80,"y":420,"wires":[["388e81bd.5d08c6"]]},{"id":"7d52744d.0cf4d4","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/post_rfid","qos":"","retain":"","broker":"87027f97.16bdb","x":720,"y":420,"wires":[]},{"id":"df85d485.e888d","type":"debug","z":"bc62d8f7.176f1","name":"tag_rifd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":400,"wires":[]},{"id":"55bf45e1.1dee8c","type":"function","z":"c5535a96.997cd8","name":"TAG","func":"msg.payload = msg.payload.rfid;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["7d52744d.0cf4d4"]]},{"id":"dc0c8650.b09728","type":"mqtt in","z":"bc62d8f7.176f1","name":"","topic":"/post_rfid","qos":"2","datatype":"auto","broker":"e82f49f7.535538","x":600,"y":80,"wires":[["28c84884.f67e98","291da95f.fd576e"]]},{"id":"e9de86b8.9d2468","type":"mqtt out","z":"c5535a96.997cd8","name":"","topic":"/stopall","qos":"","retain":"","broker":"2ae6ba29.239db6","x":740,"y":600,"wires":[]},{"id":"9cb3ef2c.dfb27","type":"http in","z":"c5535a96.997cd8","name":"","url":"/stop","method":"post","upload":false,"swaggerDoc":"","x":90,"y":600,"wires":[["a7a7a8.fb5a7858"]]},{"id":"a7a7a8.fb5a7858","type":"function","z":"c5535a96.997cd8","name":"password","func":"if (msg.payload.password == global.get(\"password_reader\")){\n    msg.payload.output = \"Update Configuration\";\n    msg.payload.esito = 1;\n} else {\n    msg.payload.output = \"Wrong password\";\n    msg.payload.esito = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":600,"wires":[["9cc356dc.ccffe"]]},{"id":"9cc356dc.ccffe","type":"switch","z":"c5535a96.997cd8","name":"","property":"payload.esito","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":600,"wires":[["a14b5a88.58a848","e9de86b8.9d2468"],[]]},{"id":"f7a1ddad.923f18","type":"function","z":"723438d6.bfcdf8","name":"cyan","func":"msg.payload = \"cyan\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["f78c4602.f3fcd8","faaae86e.36c6a"]]},{"id":"6d14265e.56d43","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/neopixel","qos":"","retain":"","broker":"42993bd5.aaf934","x":960,"y":180,"wires":[]},{"id":"f78c4602.f3fcd8","type":"delay","z":"723438d6.bfcdf8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":180,"wires":[["6d14265e.56d43"]]},{"id":"faaae86e.36c6a","type":"debug","z":"723438d6.bfcdf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":220,"wires":[]},{"id":"ca4af097.364bc8","type":"function","z":"ebfbbc58.6b5348","name":"add_IP","func":"var ip_address = global.get(\"ip_address\");\nmsg.ip_device = ip_address;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["dfb7505a.69dff8"]]},{"id":"30a47cff.524d74","type":"link in","z":"ebfbbc58.6b5348","name":"ip","links":["8126d419.e191a8"],"x":55,"y":240,"wires":[["ca4af097.364bc8"]]},{"id":"8126d419.e191a8","type":"link out","z":"1308c03.6ec99c","name":"","links":["30a47cff.524d74"],"x":1220,"y":200,"wires":[]},{"id":"668bead4.e4952c","type":"mqtt in","z":"ebfbbc58.6b5348","name":"","topic":"/stopall","qos":"2","broker":"634c1883.3886e8","x":90,"y":280,"wires":[["ca4af097.364bc8"]]},{"id":"dfb7505a.69dff8","type":"delay","z":"ebfbbc58.6b5348","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":280,"wires":[["4ddac6f4.2b754"]]},{"id":"70520b2e.42ab3c","type":"tradfri","z":"389ee1c3.c98cde","name":"","deviceId":"65544","deviceName":"TRADFRI bulb 4","connection":"651b4495.4dc13c","observe":false,"x":580,"y":200,"wires":[["a78eea3e.ae1ff8"]]},{"id":"fcf7e854.0b2488","type":"inject","z":"389ee1c3.c98cde","name":"OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["90c32d92.5ed368"]]},{"id":"73c5d7d5.913ea","type":"inject","z":"389ee1c3.c98cde","name":"ON","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["90c32d92.5ed368"]]},{"id":"90c32d92.5ed368","type":"function","z":"389ee1c3.c98cde","name":"brightness","func":"var mode = msg.payload;\nmsg.payload = {\n    brightness: mode\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["ff5f500b.640c2"]]},{"id":"ff5f500b.640c2","type":"tradfri","z":"389ee1c3.c98cde","name":"","deviceId":"65543","deviceName":"TRADFRI bulb 5","connection":"651b4495.4dc13c","observe":false,"x":580,"y":300,"wires":[["a78eea3e.ae1ff8"]]},{"id":"eeb916bf.b2ea5","type":"inject","z":"389ee1c3.c98cde","name":"OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["cd3d09e3.e14a98"]]},{"id":"5b91bf77.2ceca","type":"inject","z":"389ee1c3.c98cde","name":"ON","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["cd3d09e3.e14a98"]]},{"id":"cd3d09e3.e14a98","type":"function","z":"389ee1c3.c98cde","name":"brightness","func":"var mode = msg.payload;\nmsg.payload = {\n    brightness: mode\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["353a1bab.e23c5c"]]},{"id":"353a1bab.e23c5c","type":"tradfri","z":"389ee1c3.c98cde","name":"","deviceId":"65545","deviceName":"TRADFRI bulb 6","connection":"651b4495.4dc13c","observe":false,"x":580,"y":400,"wires":[["a78eea3e.ae1ff8"]]},{"id":"99828814.706e2","type":"mqtt in","z":"723438d6.bfcdf8","name":"","topic":"/multimedia_mqtt","qos":"2","datatype":"auto","broker":"36a9a856.301228","x":100,"y":420,"wires":[["2edc0598.d48302"]]},{"id":"2edc0598.d48302","type":"mqtt out","z":"723438d6.bfcdf8","name":"","topic":"/server_action","qos":"","retain":"","broker":"d79bb500.c6604","x":280,"y":420,"wires":[]},{"id":"53aefdc.f495d04","type":"comment","z":"723438d6.bfcdf8","name":"Invio al Server","info":"","x":90,"y":380,"wires":[]}]